<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたの顔タイプは…</p>
</div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @perfume.question == "121111" %>
                 <h6>キュート</h6>
                <p>年齢を問わず、若々しく柔らかい、かわいらしい雰囲気が魅力のタイプです。</p>
                <p>周りから「守ってあげたい」「話しかけやすい」と思われるような、丸みのある愛らしいパーツが特徴。各パーツの印象がソフトなため、丸みを活かして強調していくメイクがおすすめ。</p>
                <p>自分のパーソナルカラーに合わせつつ、ふんわりした明るめのカラーや、落ち着いたくすみ系カラーを選ぶと雰囲気にマッチします。</p>
                <p>【キュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく、（子供顔）、可愛らしく、親しみやすい印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。全体的にやわらかい印象作りを意識して！　アイメイク：他のパーツとのバランスを見ながら、丸さのある目もとを強調させるように丸くグラデーションを作ったり、黒目の上にラメをのせて丸みを強調するのも似合いやすいです。　チーク：頬の高い位置から丸くのせ、可愛らしさをプラスするのがおすすめです。　リップ：ピュアな見た目を引き立てる色味を選ぶのがポイント。8タイプの中でも特に淡いピンクやコーラル系のカラーとの相性◎</p>

                <% elsif @perfume.question == "121112" %>
                <h6>キュート</h6>
                <p>年齢を問わず、若々しく柔らかい、かわいらしい雰囲気が魅力のタイプです。</p>
                <p>周りから「守ってあげたい」「話しかけやすい」と思われるような、丸みのある愛らしいパーツが特徴。各パーツの印象がソフトなため、丸みを活かして強調していくメイクがおすすめ。</p>
                <p>自分のパーソナルカラーに合わせつつ、ふんわりした明るめのカラーや、落ち着いたくすみ系カラーを選ぶと雰囲気にマッチします。</p>
                <p>【キュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく、（子供顔）、可愛らしく、親しみやすい印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。全体的にやわらかい印象作りを意識して！　アイメイク：他のパーツとのバランスを見ながら、丸さのある目もとを強調させるように丸くグラデーションを作ったり、黒目の上にラメをのせて丸みを強調するのも似合いやすいです。　チーク：頬の高い位置から丸くのせ、可愛らしさをプラスするのがおすすめです。　リップ：ピュアな見た目を引き立てる色味を選ぶのがポイント。8タイプの中でも特に淡いピンクやコーラル系のカラーとの相性◎</p>

                <% elsif @perfume.question == "121121" %>
                <h6>キュート</h6>
                <p>年齢を問わず、若々しく柔らかい、かわいらしい雰囲気が魅力のタイプです。</p>
                <p>周りから「守ってあげたい」「話しかけやすい」と思われるような、丸みのある愛らしいパーツが特徴。各パーツの印象がソフトなため、丸みを活かして強調していくメイクがおすすめ。</p>
                <p>自分のパーソナルカラーに合わせつつ、ふんわりした明るめのカラーや、落ち着いたくすみ系カラーを選ぶと雰囲気にマッチします。</p>
                <p>【キュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく、（子供顔）、可愛らしく、親しみやすい印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。全体的にやわらかい印象作りを意識して！　アイメイク：他のパーツとのバランスを見ながら、丸さのある目もとを強調させるように丸くグラデーションを作ったり、黒目の上にラメをのせて丸みを強調するのも似合いやすいです。　チーク：頬の高い位置から丸くのせ、可愛らしさをプラスするのがおすすめです。　リップ：ピュアな見た目を引き立てる色味を選ぶのがポイント。8タイプの中でも特に淡いピンクやコーラル系のカラーとの相性◎</p>
                
                <% elsif @perfume.question == "121211" %>
                <h6>キュート</h6>
                <p>年齢を問わず、若々しく柔らかい、かわいらしい雰囲気が魅力のタイプです。</p>
                <p>周りから「守ってあげたい」「話しかけやすい」と思われるような、丸みのある愛らしいパーツが特徴。各パーツの印象がソフトなため、丸みを活かして強調していくメイクがおすすめ。</p>
                <p>自分のパーソナルカラーに合わせつつ、ふんわりした明るめのカラーや、落ち着いたくすみ系カラーを選ぶと雰囲気にマッチします。</p>
                <p>【キュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく、（子供顔）、可愛らしく、親しみやすい印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。全体的にやわらかい印象作りを意識して！　アイメイク：他のパーツとのバランスを見ながら、丸さのある目もとを強調させるように丸くグラデーションを作ったり、黒目の上にラメをのせて丸みを強調するのも似合いやすいです。　チーク：頬の高い位置から丸くのせ、可愛らしさをプラスするのがおすすめです。　リップ：ピュアな見た目を引き立てる色味を選ぶのがポイント。8タイプの中でも特に淡いピンクやコーラル系のカラーとの相性◎</p>
                
                <% elsif @perfume.question == "111111" %>
                <h6>キュート</h6>
                <p>年齢を問わず、若々しく柔らかい、かわいらしい雰囲気が魅力のタイプです。</p>
                <p>周りから「守ってあげたい」「話しかけやすい」と思われるような、丸みのある愛らしいパーツが特徴。各パーツの印象がソフトなため、丸みを活かして強調していくメイクがおすすめ。</p>
                <p>自分のパーソナルカラーに合わせつつ、ふんわりした明るめのカラーや、落ち着いたくすみ系カラーを選ぶと雰囲気にマッチします。</p>
                <p>【キュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく、（子供顔）、可愛らしく、親しみやすい印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。全体的にやわらかい印象作りを意識して！　アイメイク：他のパーツとのバランスを見ながら、丸さのある目もとを強調させるように丸くグラデーションを作ったり、黒目の上にラメをのせて丸みを強調するのも似合いやすいです。　チーク：頬の高い位置から丸くのせ、可愛らしさをプラスするのがおすすめです。　リップ：ピュアな見た目を引き立てる色味を選ぶのがポイント。8タイプの中でも特に淡いピンクやコーラル系のカラーとの相性◎</p>
                
            

               <% elsif @perfume.question == "111112" %>
               <h6>キュート</h6>
                <p>年齢を問わず、若々しく柔らかい、かわいらしい雰囲気が魅力のタイプです。</p>
                <p>周りから「守ってあげたい」「話しかけやすい」と思われるような、丸みのある愛らしいパーツが特徴。各パーツの印象がソフトなため、丸みを活かして強調していくメイクがおすすめ。</p>
                <p>自分のパーソナルカラーに合わせつつ、ふんわりした明るめのカラーや、落ち着いたくすみ系カラーを選ぶと雰囲気にマッチします。</p>
                <p>【キュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく、（子供顔）、可愛らしく、親しみやすい印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。全体的にやわらかい印象作りを意識して！　アイメイク：他のパーツとのバランスを見ながら、丸さのある目もとを強調させるように丸くグラデーションを作ったり、黒目の上にラメをのせて丸みを強調するのも似合いやすいです。　チーク：頬の高い位置から丸くのせ、可愛らしさをプラスするのがおすすめです。　リップ：ピュアな見た目を引き立てる色味を選ぶのがポイント。8タイプの中でも特に淡いピンクやコーラル系のカラーとの相性◎</p>

                <% elsif @perfume.question == "111121" %>
                <h6>キュート</h6>
                <p>年齢を問わず、若々しく柔らかい、かわいらしい雰囲気が魅力のタイプです。</p>
                <p>周りから「守ってあげたい」「話しかけやすい」と思われるような、丸みのある愛らしいパーツが特徴。各パーツの印象がソフトなため、丸みを活かして強調していくメイクがおすすめ。</p>
                <p>自分のパーソナルカラーに合わせつつ、ふんわりした明るめのカラーや、落ち着いたくすみ系カラーを選ぶと雰囲気にマッチします。</p>
                <p>【キュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく、（子供顔）、可愛らしく、親しみやすい印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。全体的にやわらかい印象作りを意識して！　アイメイク：他のパーツとのバランスを見ながら、丸さのある目もとを強調させるように丸くグラデーションを作ったり、黒目の上にラメをのせて丸みを強調するのも似合いやすいです。　チーク：頬の高い位置から丸くのせ、可愛らしさをプラスするのがおすすめです。　リップ：ピュアな見た目を引き立てる色味を選ぶのがポイント。8タイプの中でも特に淡いピンクやコーラル系のカラーとの相性◎</p>

                <% elsif @perfume.question == "111211" %>
                <h6>キュート</h6>
                <p>年齢を問わず、若々しく柔らかい、かわいらしい雰囲気が魅力のタイプです。</p>
                <p>周りから「守ってあげたい」「話しかけやすい」と思われるような、丸みのある愛らしいパーツが特徴。各パーツの印象がソフトなため、丸みを活かして強調していくメイクがおすすめ。</p>
                <p>自分のパーソナルカラーに合わせつつ、ふんわりした明るめのカラーや、落ち着いたくすみ系カラーを選ぶと雰囲気にマッチします。</p>
                <p>【キュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく、（子供顔）、可愛らしく、親しみやすい印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。全体的にやわらかい印象作りを意識して！　アイメイク：他のパーツとのバランスを見ながら、丸さのある目もとを強調させるように丸くグラデーションを作ったり、黒目の上にラメをのせて丸みを強調するのも似合いやすいです。　チーク：頬の高い位置から丸くのせ、可愛らしさをプラスするのがおすすめです。　リップ：ピュアな見た目を引き立てる色味を選ぶのがポイント。8タイプの中でも特に淡いピンクやコーラル系のカラーとの相性◎</p>

                <% elsif @perfume.question == "221111" %>
                <h6>アクティブキュート</h6>
                <p>濃いめのはっきりメイクが違和感なくマッチする、ポップな雰囲気が魅力のタイプ。</p>
                <p>大きな特徴は「パーツの大きさ」。とくに「目もと」にインパクトがある方が多いです。目・鼻・口が大きく存在感がある顔立ちなので、目力を意識したしっかりメイクがおすすめ。パーソナルカラーやトレンドをふまえつつ、やや明るめのビビットなカラーやアイテムを選ぶと◎</p>
                <p>【アクティブキュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは大きめで、特に目もとにインパクトがあります。実年齢よりも若く見られやすく(子供顔)、元気・親しみやすい・ポップな印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。親しみやすい印象を演出すると◎　アイメイク：チャームポイントの大きな瞳を活かし、インパクトのある仕上がりが似合いそう。しっかりと色をのせて強調するのもよし、黒目の上にラメをつけて丸みを強調するのも似合いやすいです。ふんわりと単色で仕上げ、マスカラで盛るナチュラル仕上げもおすすめ◎　チーク：頬の高い位置から丸くのせるのがおすすめ(パーソナルカラーによりますが、濃く入れても顔の印象から浮きにくい傾向があります)。　リップ：ぽてっと丸みがある輪郭を活かし、高さが出るよう仕上げましょう。</p>

                <% elsif @perfume.question == "221112" %>
                <h6>アクティブキュート</h6>
                <p>濃いめのはっきりメイクが違和感なくマッチする、ポップな雰囲気が魅力のタイプ。</p>
                <p>大きな特徴は「パーツの大きさ」。とくに「目もと」にインパクトがある方が多いです。目・鼻・口が大きく存在感がある顔立ちなので、目力を意識したしっかりメイクがおすすめ。パーソナルカラーやトレンドをふまえつつ、やや明るめのビビットなカラーやアイテムを選ぶと◎</p>
                <p>【アクティブキュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは大きめで、特に目もとにインパクトがあります。実年齢よりも若く見られやすく(子供顔)、元気・親しみやすい・ポップな印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。親しみやすい印象を演出すると◎　アイメイク：チャームポイントの大きな瞳を活かし、インパクトのある仕上がりが似合いそう。しっかりと色をのせて強調するのもよし、黒目の上にラメをつけて丸みを強調するのも似合いやすいです。ふんわりと単色で仕上げ、マスカラで盛るナチュラル仕上げもおすすめ◎　チーク：頬の高い位置から丸くのせるのがおすすめ(パーソナルカラーによりますが、濃く入れても顔の印象から浮きにくい傾向があります)。　リップ：ぽてっと丸みがある輪郭を活かし、高さが出るよう仕上げましょう。</p>

                <% elsif @perfume.question == "221121" %>
                <h6>アクティブキュート</h6>
                <p>濃いめのはっきりメイクが違和感なくマッチする、ポップな雰囲気が魅力のタイプ。</p>
                <p>大きな特徴は「パーツの大きさ」。とくに「目もと」にインパクトがある方が多いです。目・鼻・口が大きく存在感がある顔立ちなので、目力を意識したしっかりメイクがおすすめ。パーソナルカラーやトレンドをふまえつつ、やや明るめのビビットなカラーやアイテムを選ぶと◎</p>
                <p>【アクティブキュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは大きめで、特に目もとにインパクトがあります。実年齢よりも若く見られやすく(子供顔)、元気・親しみやすい・ポップな印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。親しみやすい印象を演出すると◎　アイメイク：チャームポイントの大きな瞳を活かし、インパクトのある仕上がりが似合いそう。しっかりと色をのせて強調するのもよし、黒目の上にラメをつけて丸みを強調するのも似合いやすいです。ふんわりと単色で仕上げ、マスカラで盛るナチュラル仕上げもおすすめ◎　チーク：頬の高い位置から丸くのせるのがおすすめ(パーソナルカラーによりますが、濃く入れても顔の印象から浮きにくい傾向があります)。　リップ：ぽてっと丸みがある輪郭を活かし、高さが出るよう仕上げましょう。</p>

                <% elsif @perfume.question == "221211" %>
               <h6>アクティブキュート</h6>
                <p>濃いめのはっきりメイクが違和感なくマッチする、ポップな雰囲気が魅力のタイプ。</p>
                <p>大きな特徴は「パーツの大きさ」。とくに「目もと」にインパクトがある方が多いです。目・鼻・口が大きく存在感がある顔立ちなので、目力を意識したしっかりメイクがおすすめ。パーソナルカラーやトレンドをふまえつつ、やや明るめのビビットなカラーやアイテムを選ぶと◎</p>
                <p>【アクティブキュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは大きめで、特に目もとにインパクトがあります。実年齢よりも若く見られやすく(子供顔)、元気・親しみやすい・ポップな印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。親しみやすい印象を演出すると◎　アイメイク：チャームポイントの大きな瞳を活かし、インパクトのある仕上がりが似合いそう。しっかりと色をのせて強調するのもよし、黒目の上にラメをつけて丸みを強調するのも似合いやすいです。ふんわりと単色で仕上げ、マスカラで盛るナチュラル仕上げもおすすめ◎　チーク：頬の高い位置から丸くのせるのがおすすめ(パーソナルカラーによりますが、濃く入れても顔の印象から浮きにくい傾向があります)。　リップ：ぽてっと丸みがある輪郭を活かし、高さが出るよう仕上げましょう。</p>

                <% elsif @perfume.question == "211111" %>
                <h6>アクティブキュート</h6>
                <p>濃いめのはっきりメイクが違和感なくマッチする、ポップな雰囲気が魅力のタイプ。</p>
                <p>大きな特徴は「パーツの大きさ」。とくに「目もと」にインパクトがある方が多いです。目・鼻・口が大きく存在感がある顔立ちなので、目力を意識したしっかりメイクがおすすめ。パーソナルカラーやトレンドをふまえつつ、やや明るめのビビットなカラーやアイテムを選ぶと◎</p>
                <p>【アクティブキュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは大きめで、特に目もとにインパクトがあります。実年齢よりも若く見られやすく(子供顔)、元気・親しみやすい・ポップな印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。親しみやすい印象を演出すると◎　アイメイク：チャームポイントの大きな瞳を活かし、インパクトのある仕上がりが似合いそう。しっかりと色をのせて強調するのもよし、黒目の上にラメをつけて丸みを強調するのも似合いやすいです。ふんわりと単色で仕上げ、マスカラで盛るナチュラル仕上げもおすすめ◎　チーク：頬の高い位置から丸くのせるのがおすすめ(パーソナルカラーによりますが、濃く入れても顔の印象から浮きにくい傾向があります)。　リップ：ぽてっと丸みがある輪郭を活かし、高さが出るよう仕上げましょう。</p>

                <% elsif @perfume.question == "211112" %>
                <h6>アクティブキュート</h6>
                <p>濃いめのはっきりメイクが違和感なくマッチする、ポップな雰囲気が魅力のタイプ。</p>
                <p>大きな特徴は「パーツの大きさ」。とくに「目もと」にインパクトがある方が多いです。目・鼻・口が大きく存在感がある顔立ちなので、目力を意識したしっかりメイクがおすすめ。パーソナルカラーやトレンドをふまえつつ、やや明るめのビビットなカラーやアイテムを選ぶと◎</p>
                <p>【アクティブキュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは大きめで、特に目もとにインパクトがあります。実年齢よりも若く見られやすく(子供顔)、元気・親しみやすい・ポップな印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。親しみやすい印象を演出すると◎　アイメイク：チャームポイントの大きな瞳を活かし、インパクトのある仕上がりが似合いそう。しっかりと色をのせて強調するのもよし、黒目の上にラメをつけて丸みを強調するのも似合いやすいです。ふんわりと単色で仕上げ、マスカラで盛るナチュラル仕上げもおすすめ◎　チーク：頬の高い位置から丸くのせるのがおすすめ(パーソナルカラーによりますが、濃く入れても顔の印象から浮きにくい傾向があります)。　リップ：ぽてっと丸みがある輪郭を活かし、高さが出るよう仕上げましょう。</p>

                <% elsif @perfume.question == "211121" %>
                <h6>アクティブキュート</h6>
                <p>濃いめのはっきりメイクが違和感なくマッチする、ポップな雰囲気が魅力のタイプ。</p>
                <p>大きな特徴は「パーツの大きさ」。とくに「目もと」にインパクトがある方が多いです。目・鼻・口が大きく存在感がある顔立ちなので、目力を意識したしっかりメイクがおすすめ。パーソナルカラーやトレンドをふまえつつ、やや明るめのビビットなカラーやアイテムを選ぶと◎</p>
                <p>【アクティブキュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは大きめで、特に目もとにインパクトがあります。実年齢よりも若く見られやすく(子供顔)、元気・親しみやすい・ポップな印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。親しみやすい印象を演出すると◎　アイメイク：チャームポイントの大きな瞳を活かし、インパクトのある仕上がりが似合いそう。しっかりと色をのせて強調するのもよし、黒目の上にラメをつけて丸みを強調するのも似合いやすいです。ふんわりと単色で仕上げ、マスカラで盛るナチュラル仕上げもおすすめ◎　チーク：頬の高い位置から丸くのせるのがおすすめ(パーソナルカラーによりますが、濃く入れても顔の印象から浮きにくい傾向があります)。　リップ：ぽてっと丸みがある輪郭を活かし、高さが出るよう仕上げましょう。</p>

                <% elsif @perfume.question == "211211" %>
                <h6>アクティブキュート</h6>
                <p>濃いめのはっきりメイクが違和感なくマッチする、ポップな雰囲気が魅力のタイプ。</p>
                <p>大きな特徴は「パーツの大きさ」。とくに「目もと」にインパクトがある方が多いです。目・鼻・口が大きく存在感がある顔立ちなので、目力を意識したしっかりメイクがおすすめ。パーソナルカラーやトレンドをふまえつつ、やや明るめのビビットなカラーやアイテムを選ぶと◎</p>
                <p>【アクティブキュートタイプの特徴】輪郭や顔のパーツに丸みがあり（曲線型）、顔のパーツは大きめで、特に目もとにインパクトがあります。実年齢よりも若く見られやすく(子供顔)、元気・親しみやすい・ポップな印象。</p>
                <p>【似合うメイク】眉毛：ふんわりとした短めのアーチ眉がおすすめ。親しみやすい印象を演出すると◎　アイメイク：チャームポイントの大きな瞳を活かし、インパクトのある仕上がりが似合いそう。しっかりと色をのせて強調するのもよし、黒目の上にラメをつけて丸みを強調するのも似合いやすいです。ふんわりと単色で仕上げ、マスカラで盛るナチュラル仕上げもおすすめ◎　チーク：頬の高い位置から丸くのせるのがおすすめ(パーソナルカラーによりますが、濃く入れても顔の印象から浮きにくい傾向があります)。　リップ：ぽてっと丸みがある輪郭を活かし、高さが出るよう仕上げましょう。</p>

                <% elsif @perfume.question == "121122" %>
               <h6>フレッシュ</h6>
                <p>素材を活かした垢抜けナチュラルメイクがよく似合う、爽やかな雰囲気が魅力のタイプです。</p>
                <p>曲線的な印象があるため、丸みがある部分は強調しつつ、直線部分は自然に残す。特徴を掛け合わせたメイクがおすすめ。</p>
                <p>【フレッシュタイプの特徴】輪郭はベース型の方が多く、顔のパーツに直線・曲線の両方を持つタイプ （ミックス型）。顔のパーツは小さめから普通で、実際の年齢よりも若く見られやすい （子供顔）。爽やか・若い・清潔感がある印象です。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉か、少しアーチ気味の形が清潔感のある印象とマッチ。長くしすぎると目の大きさとアンバランスになるので注意しましょう。　アイメイク：ラメアイシャドウをさらっとのせるだけで引き立ちます。何色も重ねて濃くするよりも、1～2色のグラデーション、アイライン、軽くマスカラをつけるくらいのナチュラルメイクと相性◎　チーク：頬骨に沿ってストレートに入れるのがおすすめ（パーソナルカラーにあわせるのがおすすめですが、特にオレンジ系は雰囲気にマッチします）。　リップ：唇が薄めの人は、変にオーバーにせずそのままの形を活かして爽やかさをプラス。丸みがありぽってり感がある人は、グロスで立体感を出して可愛らしさをプラス♪</p>


                 <% elsif @perfume.question == "121221" %>
                <h6>フレッシュ</h6>
                <p>素材を活かした垢抜けナチュラルメイクがよく似合う、爽やかな雰囲気が魅力のタイプです。</p>
                <p>曲線的な印象があるため、丸みがある部分は強調しつつ、直線部分は自然に残す。特徴を掛け合わせたメイクがおすすめ。</p>
                <p>【フレッシュタイプの特徴】輪郭はベース型の方が多く、顔のパーツに直線・曲線の両方を持つタイプ （ミックス型）。顔のパーツは小さめから普通で、実際の年齢よりも若く見られやすい （子供顔）。爽やか・若い・清潔感がある印象です。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉か、少しアーチ気味の形が清潔感のある印象とマッチ。長くしすぎると目の大きさとアンバランスになるので注意しましょう。　アイメイク：ラメアイシャドウをさらっとのせるだけで引き立ちます。何色も重ねて濃くするよりも、1～2色のグラデーション、アイライン、軽くマスカラをつけるくらいのナチュラルメイクと相性◎　チーク：頬骨に沿ってストレートに入れるのがおすすめ（パーソナルカラーにあわせるのがおすすめですが、特にオレンジ系は雰囲気にマッチします）。　リップ：唇が薄めの人は、変にオーバーにせずそのままの形を活かして爽やかさをプラス。丸みがありぽってり感がある人は、グロスで立体感を出して可愛らしさをプラス♪</p>

                 <% elsif @perfume.question == "121212" %>
                <h6>フレッシュ</h6>
                <p>素材を活かした垢抜けナチュラルメイクがよく似合う、爽やかな雰囲気が魅力のタイプです。</p>
                <p>曲線的な印象があるため、丸みがある部分は強調しつつ、直線部分は自然に残す。特徴を掛け合わせたメイクがおすすめ。</p>
                <p>【フレッシュタイプの特徴】輪郭はベース型の方が多く、顔のパーツに直線・曲線の両方を持つタイプ （ミックス型）。顔のパーツは小さめから普通で、実際の年齢よりも若く見られやすい （子供顔）。爽やか・若い・清潔感がある印象です。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉か、少しアーチ気味の形が清潔感のある印象とマッチ。長くしすぎると目の大きさとアンバランスになるので注意しましょう。　アイメイク：ラメアイシャドウをさらっとのせるだけで引き立ちます。何色も重ねて濃くするよりも、1～2色のグラデーション、アイライン、軽くマスカラをつけるくらいのナチュラルメイクと相性◎　チーク：頬骨に沿ってストレートに入れるのがおすすめ（パーソナルカラーにあわせるのがおすすめですが、特にオレンジ系は雰囲気にマッチします）。　リップ：唇が薄めの人は、変にオーバーにせずそのままの形を活かして爽やかさをプラス。丸みがありぽってり感がある人は、グロスで立体感を出して可愛らしさをプラス♪</p>


                 <% elsif @perfume.question == "121222" %>
                <h6>フレッシュ</h6>
                <p>素材を活かした垢抜けナチュラルメイクがよく似合う、爽やかな雰囲気が魅力のタイプです。</p>
                <p>曲線的な印象があるため、丸みがある部分は強調しつつ、直線部分は自然に残す。特徴を掛け合わせたメイクがおすすめ。</p>
                <p>【フレッシュタイプの特徴】輪郭はベース型の方が多く、顔のパーツに直線・曲線の両方を持つタイプ （ミックス型）。顔のパーツは小さめから普通で、実際の年齢よりも若く見られやすい （子供顔）。爽やか・若い・清潔感がある印象です。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉か、少しアーチ気味の形が清潔感のある印象とマッチ。長くしすぎると目の大きさとアンバランスになるので注意しましょう。　アイメイク：ラメアイシャドウをさらっとのせるだけで引き立ちます。何色も重ねて濃くするよりも、1～2色のグラデーション、アイライン、軽くマスカラをつけるくらいのナチュラルメイクと相性◎　チーク：頬骨に沿ってストレートに入れるのがおすすめ（パーソナルカラーにあわせるのがおすすめですが、特にオレンジ系は雰囲気にマッチします）。　リップ：唇が薄めの人は、変にオーバーにせずそのままの形を活かして爽やかさをプラス。丸みがありぽってり感がある人は、グロスで立体感を出して可愛らしさをプラス♪</p>


                 <% elsif @perfume.question == "111122" %>
                <h6>フレッシュ</h6>
                <p>素材を活かした垢抜けナチュラルメイクがよく似合う、爽やかな雰囲気が魅力のタイプです。</p>
                <p>曲線的な印象があるため、丸みがある部分は強調しつつ、直線部分は自然に残す。特徴を掛け合わせたメイクがおすすめ。</p>
                <p>【フレッシュタイプの特徴】輪郭はベース型の方が多く、顔のパーツに直線・曲線の両方を持つタイプ （ミックス型）。顔のパーツは小さめから普通で、実際の年齢よりも若く見られやすい （子供顔）。爽やか・若い・清潔感がある印象です。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉か、少しアーチ気味の形が清潔感のある印象とマッチ。長くしすぎると目の大きさとアンバランスになるので注意しましょう。　アイメイク：ラメアイシャドウをさらっとのせるだけで引き立ちます。何色も重ねて濃くするよりも、1～2色のグラデーション、アイライン、軽くマスカラをつけるくらいのナチュラルメイクと相性◎　チーク：頬骨に沿ってストレートに入れるのがおすすめ（パーソナルカラーにあわせるのがおすすめですが、特にオレンジ系は雰囲気にマッチします）。　リップ：唇が薄めの人は、変にオーバーにせずそのままの形を活かして爽やかさをプラス。丸みがありぽってり感がある人は、グロスで立体感を出して可愛らしさをプラス♪</p>


                 <% elsif @perfume.question == "111221" %>
                <h6>フレッシュ</h6>
                <p>素材を活かした垢抜けナチュラルメイクがよく似合う、爽やかな雰囲気が魅力のタイプです。</p>
                <p>曲線的な印象があるため、丸みがある部分は強調しつつ、直線部分は自然に残す。特徴を掛け合わせたメイクがおすすめ。</p>
                <p>【フレッシュタイプの特徴】輪郭はベース型の方が多く、顔のパーツに直線・曲線の両方を持つタイプ （ミックス型）。顔のパーツは小さめから普通で、実際の年齢よりも若く見られやすい （子供顔）。爽やか・若い・清潔感がある印象です。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉か、少しアーチ気味の形が清潔感のある印象とマッチ。長くしすぎると目の大きさとアンバランスになるので注意しましょう。　アイメイク：ラメアイシャドウをさらっとのせるだけで引き立ちます。何色も重ねて濃くするよりも、1～2色のグラデーション、アイライン、軽くマスカラをつけるくらいのナチュラルメイクと相性◎　チーク：頬骨に沿ってストレートに入れるのがおすすめ（パーソナルカラーにあわせるのがおすすめですが、特にオレンジ系は雰囲気にマッチします）。　リップ：唇が薄めの人は、変にオーバーにせずそのままの形を活かして爽やかさをプラス。丸みがありぽってり感がある人は、グロスで立体感を出して可愛らしさをプラス♪</p>

                 <% elsif @perfume.question == "111212" %>
                <h6>フレッシュ</h6>
                <p>素材を活かした垢抜けナチュラルメイクがよく似合う、爽やかな雰囲気が魅力のタイプです。</p>
                <p>曲線的な印象があるため、丸みがある部分は強調しつつ、直線部分は自然に残す。特徴を掛け合わせたメイクがおすすめ。</p>
                <p>【フレッシュタイプの特徴】輪郭はベース型の方が多く、顔のパーツに直線・曲線の両方を持つタイプ （ミックス型）。顔のパーツは小さめから普通で、実際の年齢よりも若く見られやすい （子供顔）。爽やか・若い・清潔感がある印象です。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉か、少しアーチ気味の形が清潔感のある印象とマッチ。長くしすぎると目の大きさとアンバランスになるので注意しましょう。　アイメイク：ラメアイシャドウをさらっとのせるだけで引き立ちます。何色も重ねて濃くするよりも、1～2色のグラデーション、アイライン、軽くマスカラをつけるくらいのナチュラルメイクと相性◎　チーク：頬骨に沿ってストレートに入れるのがおすすめ（パーソナルカラーにあわせるのがおすすめですが、特にオレンジ系は雰囲気にマッチします）。　リップ：唇が薄めの人は、変にオーバーにせずそのままの形を活かして爽やかさをプラス。丸みがありぽってり感がある人は、グロスで立体感を出して可愛らしさをプラス♪</p>


                 <% elsif @perfume.question == "111222" %>
                <h6>フレッシュ</h6>
                <p>素材を活かした垢抜けナチュラルメイクがよく似合う、爽やかな雰囲気が魅力のタイプです。</p>
                <p>曲線的な印象があるため、丸みがある部分は強調しつつ、直線部分は自然に残す。特徴を掛け合わせたメイクがおすすめ。</p>
                <p>【フレッシュタイプの特徴】輪郭はベース型の方が多く、顔のパーツに直線・曲線の両方を持つタイプ （ミックス型）。顔のパーツは小さめから普通で、実際の年齢よりも若く見られやすい （子供顔）。爽やか・若い・清潔感がある印象です。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉か、少しアーチ気味の形が清潔感のある印象とマッチ。長くしすぎると目の大きさとアンバランスになるので注意しましょう。　アイメイク：ラメアイシャドウをさらっとのせるだけで引き立ちます。何色も重ねて濃くするよりも、1～2色のグラデーション、アイライン、軽くマスカラをつけるくらいのナチュラルメイクと相性◎　チーク：頬骨に沿ってストレートに入れるのがおすすめ（パーソナルカラーにあわせるのがおすすめですが、特にオレンジ系は雰囲気にマッチします）。　リップ：唇が薄めの人は、変にオーバーにせずそのままの形を活かして爽やかさをプラス。丸みがありぽってり感がある人は、グロスで立体感を出して可愛らしさをプラス♪</p>


                <% elsif @perfume.question == "221122" %>
                <h6>クールカジュアル</h6>
                <p>かっこいい印象や凛々しい雰囲気が魅力のタイプです。</p>
                <p>テクニックで曲線的に見せるよりも、直線的な顔パーツを強調したメイクがおすすめ。</p>
                <p>【クールカジュアルタイプの特徴】パーツや輪郭に丸みが少なく、直線的で骨感があり（直線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく（子供顔）、ボーイッシュ・カッコイイ・アーティスティックな印象。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉がおすすめ。角度をつけすぎると、キツい印象に見えやすいので注意しましょう。　アイメイク：ナチュラルから濃いめまで似合います◎きれいなアーモンドアイの人が多く、形を強調するように濃くアイラインを入れるもよし、マスカラで目力を盛るのも映えますよ。（パーソナルカラーによりますが、ブルー・ブラック・グレー・ネイビー系が特に雰囲気にマッチします。）　チーク：無しでも全体のバランスが整います。顔色が悪く見えがちなタイプや気になる人は、ヌーディカラーのチークを、さり気なくのせるのが◎　リップ：濃いめの色をさらっとのせるのがおすすめ。色付きのリップクリームでナチュラルに仕上げてもOKです。丸みを作ると浮きやすい唇が薄い人が多いため、オーバーリップは避けた方がよさそう。</p>

                 <% elsif @perfume.question == "221221" %>
                <h6>クールカジュアル</h6>
                <p>かっこいい印象や凛々しい雰囲気が魅力のタイプです。</p>
                <p>テクニックで曲線的に見せるよりも、直線的な顔パーツを強調したメイクがおすすめ。</p>
                <p>【クールカジュアルタイプの特徴】パーツや輪郭に丸みが少なく、直線的で骨感があり（直線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく（子供顔）、ボーイッシュ・カッコイイ・アーティスティックな印象。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉がおすすめ。角度をつけすぎると、キツい印象に見えやすいので注意しましょう。　アイメイク：ナチュラルから濃いめまで似合います◎きれいなアーモンドアイの人が多く、形を強調するように濃くアイラインを入れるもよし、マスカラで目力を盛るのも映えますよ。（パーソナルカラーによりますが、ブルー・ブラック・グレー・ネイビー系が特に雰囲気にマッチします。）　チーク：無しでも全体のバランスが整います。顔色が悪く見えがちなタイプや気になる人は、ヌーディカラーのチークを、さり気なくのせるのが◎　リップ：濃いめの色をさらっとのせるのがおすすめ。色付きのリップクリームでナチュラルに仕上げてもOKです。丸みを作ると浮きやすい唇が薄い人が多いため、オーバーリップは避けた方がよさそう。</p>


                 <% elsif @perfume.question == "221212" %>
                <h6>クールカジュアル</h6>
                <p>かっこいい印象や凛々しい雰囲気が魅力のタイプです。</p>
                <p>テクニックで曲線的に見せるよりも、直線的な顔パーツを強調したメイクがおすすめ。</p>
                <p>【クールカジュアルタイプの特徴】パーツや輪郭に丸みが少なく、直線的で骨感があり（直線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく（子供顔）、ボーイッシュ・カッコイイ・アーティスティックな印象。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉がおすすめ。角度をつけすぎると、キツい印象に見えやすいので注意しましょう。　アイメイク：ナチュラルから濃いめまで似合います◎きれいなアーモンドアイの人が多く、形を強調するように濃くアイラインを入れるもよし、マスカラで目力を盛るのも映えますよ。（パーソナルカラーによりますが、ブルー・ブラック・グレー・ネイビー系が特に雰囲気にマッチします。）　チーク：無しでも全体のバランスが整います。顔色が悪く見えがちなタイプや気になる人は、ヌーディカラーのチークを、さり気なくのせるのが◎　リップ：濃いめの色をさらっとのせるのがおすすめ。色付きのリップクリームでナチュラルに仕上げてもOKです。丸みを作ると浮きやすい唇が薄い人が多いため、オーバーリップは避けた方がよさそう。</p>


                
                
                <% elsif @perfume.question == "221222" %>
                <h6>クールカジュアル</h6>
                <p>かっこいい印象や凛々しい雰囲気が魅力のタイプです。</p>
                <p>テクニックで曲線的に見せるよりも、直線的な顔パーツを強調したメイクがおすすめ。</p>
                <p>【クールカジュアルタイプの特徴】パーツや輪郭に丸みが少なく、直線的で骨感があり（直線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく（子供顔）、ボーイッシュ・カッコイイ・アーティスティックな印象。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉がおすすめ。角度をつけすぎると、キツい印象に見えやすいので注意しましょう。　アイメイク：ナチュラルから濃いめまで似合います◎きれいなアーモンドアイの人が多く、形を強調するように濃くアイラインを入れるもよし、マスカラで目力を盛るのも映えますよ。（パーソナルカラーによりますが、ブルー・ブラック・グレー・ネイビー系が特に雰囲気にマッチします。）　チーク：無しでも全体のバランスが整います。顔色が悪く見えがちなタイプや気になる人は、ヌーディカラーのチークを、さり気なくのせるのが◎　リップ：濃いめの色をさらっとのせるのがおすすめ。色付きのリップクリームでナチュラルに仕上げてもOKです。丸みを作ると浮きやすい唇が薄い人が多いため、オーバーリップは避けた方がよさそう。</p>



                 <% elsif @perfume.question == "211122" %>
                <h6>クールカジュアル</h6>
                <p>かっこいい印象や凛々しい雰囲気が魅力のタイプです。</p>
                <p>テクニックで曲線的に見せるよりも、直線的な顔パーツを強調したメイクがおすすめ。</p>
                <p>【クールカジュアルタイプの特徴】パーツや輪郭に丸みが少なく、直線的で骨感があり（直線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく（子供顔）、ボーイッシュ・カッコイイ・アーティスティックな印象。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉がおすすめ。角度をつけすぎると、キツい印象に見えやすいので注意しましょう。　アイメイク：ナチュラルから濃いめまで似合います◎きれいなアーモンドアイの人が多く、形を強調するように濃くアイラインを入れるもよし、マスカラで目力を盛るのも映えますよ。（パーソナルカラーによりますが、ブルー・ブラック・グレー・ネイビー系が特に雰囲気にマッチします。）　チーク：無しでも全体のバランスが整います。顔色が悪く見えがちなタイプや気になる人は、ヌーディカラーのチークを、さり気なくのせるのが◎　リップ：濃いめの色をさらっとのせるのがおすすめ。色付きのリップクリームでナチュラルに仕上げてもOKです。丸みを作ると浮きやすい唇が薄い人が多いため、オーバーリップは避けた方がよさそう。</p>


                 <% elsif @perfume.question == "211221" %>
                <h6>クールカジュアル</h6>
                <p>かっこいい印象や凛々しい雰囲気が魅力のタイプです。</p>
                <p>テクニックで曲線的に見せるよりも、直線的な顔パーツを強調したメイクがおすすめ。</p>
                <p>【クールカジュアルタイプの特徴】パーツや輪郭に丸みが少なく、直線的で骨感があり（直線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく（子供顔）、ボーイッシュ・カッコイイ・アーティスティックな印象。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉がおすすめ。角度をつけすぎると、キツい印象に見えやすいので注意しましょう。　アイメイク：ナチュラルから濃いめまで似合います◎きれいなアーモンドアイの人が多く、形を強調するように濃くアイラインを入れるもよし、マスカラで目力を盛るのも映えますよ。（パーソナルカラーによりますが、ブルー・ブラック・グレー・ネイビー系が特に雰囲気にマッチします。）　チーク：無しでも全体のバランスが整います。顔色が悪く見えがちなタイプや気になる人は、ヌーディカラーのチークを、さり気なくのせるのが◎　リップ：濃いめの色をさらっとのせるのがおすすめ。色付きのリップクリームでナチュラルに仕上げてもOKです。丸みを作ると浮きやすい唇が薄い人が多いため、オーバーリップは避けた方がよさそう。</p>


                 <% elsif @perfume.question == "211212" %>
                <h6>クールカジュアル</h6>
                <p>かっこいい印象や凛々しい雰囲気が魅力のタイプです。</p>
                <p>テクニックで曲線的に見せるよりも、直線的な顔パーツを強調したメイクがおすすめ。</p>
                <p>【クールカジュアルタイプの特徴】パーツや輪郭に丸みが少なく、直線的で骨感があり（直線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく（子供顔）、ボーイッシュ・カッコイイ・アーティスティックな印象。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉がおすすめ。角度をつけすぎると、キツい印象に見えやすいので注意しましょう。　アイメイク：ナチュラルから濃いめまで似合います◎きれいなアーモンドアイの人が多く、形を強調するように濃くアイラインを入れるもよし、マスカラで目力を盛るのも映えますよ。（パーソナルカラーによりますが、ブルー・ブラック・グレー・ネイビー系が特に雰囲気にマッチします。）　チーク：無しでも全体のバランスが整います。顔色が悪く見えがちなタイプや気になる人は、ヌーディカラーのチークを、さり気なくのせるのが◎　リップ：濃いめの色をさらっとのせるのがおすすめ。色付きのリップクリームでナチュラルに仕上げてもOKです。丸みを作ると浮きやすい唇が薄い人が多いため、オーバーリップは避けた方がよさそう。</p>


                 <% elsif @perfume.question == "211222" %>
                <h6>クールカジュアル</h6>
                <p>かっこいい印象や凛々しい雰囲気が魅力のタイプです。</p>
                <p>テクニックで曲線的に見せるよりも、直線的な顔パーツを強調したメイクがおすすめ。</p>
                <p>【クールカジュアルタイプの特徴】パーツや輪郭に丸みが少なく、直線的で骨感があり（直線型）、顔のパーツは小さめから普通。実際の年齢よりも若く見られやすく（子供顔）、ボーイッシュ・カッコイイ・アーティスティックな印象。</p>
                <p>【似合うメイク】眉毛：短めのストレート眉がおすすめ。角度をつけすぎると、キツい印象に見えやすいので注意しましょう。　アイメイク：ナチュラルから濃いめまで似合います◎きれいなアーモンドアイの人が多く、形を強調するように濃くアイラインを入れるもよし、マスカラで目力を盛るのも映えますよ。（パーソナルカラーによりますが、ブルー・ブラック・グレー・ネイビー系が特に雰囲気にマッチします。）　チーク：無しでも全体のバランスが整います。顔色が悪く見えがちなタイプや気になる人は、ヌーディカラーのチークを、さり気なくのせるのが◎　リップ：濃いめの色をさらっとのせるのがおすすめ。色付きのリップクリームでナチュラルに仕上げてもOKです。丸みを作ると浮きやすい唇が薄い人が多いため、オーバーリップは避けた方がよさそう。</p>


                <% elsif @perfume.question == "112111" %>
                <h6>ソフトエレガント</h6>
                <p>ソフトで上品、優しい印象があり、実年齢と同じ、もしくはやや上に見られる方が多い傾向があります。大人っぽく知的で、落ち着いた雰囲気が魅力なタイプ。</p>
                <p>強く見えるメイクは苦手であまり似合いにくいので、顔立ちや顔の素材を生かしたメイクが似合います。上品な要素を入れて全体的にあくまで控えめな印象にとどめるのがおすすめです。顔立ちを活かし、自分に合ったメイクを取り入れて垢抜けフェイスを目指しましょう。</p>
                <p>【ソフトエレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型。顔のパーツは小さめから普通。実際の年齢と同じか、やや上に見られる（大人顔）こともあります。目が大きくないことを悩みに感じたり少し地味に見えてしまうのではないかと悩んでしまったりする方もいますが、人気の芸能人も多く、ソフトでやさしい・真面目なイメージで第一印象が良く和装も似合うなど魅力がたくさんのタイプです。</p>
                <p>【似合うメイク】眉毛：やや長めのアーチ眉かストレート眉がおすすめ。 ベースとなるソフトで親しみやすい印象を活かしましょう。　アイメイク：ナチュラルテイストが似合い、「上品」さがキーポイントになるタイプ。肌なじみのよいカラーを薄くのせ、目の形に沿って横幅を強調するのがおすすめ。ラメよりもパールの上品なキラメキをプラスすると華やかな雰囲気もマッチしますよ。濃い色を使うと、顔から浮いたように感じやすいので注意が必要。　チーク：頬の高い位置に広く丸く入れましょう。アイメイクと同じく、肌になじむ自然な色味を選び立体感を出すように意識するがおすすめです。　リップ：唇の形を活かし、ナチュラルで上品に、シンプルに仕上げるのがおすすめです。派手なカラーは顔から浮きやすいため、肌になじみやすい自然な色をチョイス。</p>

                

                <% elsif @perfume.question == "112112" %>
                <h6>ソフトエレガント</h6>
                <p>ソフトで上品、優しい印象があり、実年齢と同じ、もしくはやや上に見られる方が多い傾向があります。大人っぽく知的で、落ち着いた雰囲気が魅力なタイプ。</p>
                <p>強く見えるメイクは苦手であまり似合いにくいので、顔立ちや顔の素材を生かしたメイクが似合います。上品な要素を入れて全体的にあくまで控えめな印象にとどめるのがおすすめです。顔立ちを活かし、自分に合ったメイクを取り入れて垢抜けフェイスを目指しましょう。</p>
                <p>【ソフトエレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型。顔のパーツは小さめから普通。実際の年齢と同じか、やや上に見られる（大人顔）こともあります。目が大きくないことを悩みに感じたり少し地味に見えてしまうのではないかと悩んでしまったりする方もいますが、人気の芸能人も多く、ソフトでやさしい・真面目なイメージで第一印象が良く和装も似合うなど魅力がたくさんのタイプです。</p>
                <p>【似合うメイク】眉毛：やや長めのアーチ眉かストレート眉がおすすめ。 ベースとなるソフトで親しみやすい印象を活かしましょう。　アイメイク：ナチュラルテイストが似合い、「上品」さがキーポイントになるタイプ。肌なじみのよいカラーを薄くのせ、目の形に沿って横幅を強調するのがおすすめ。ラメよりもパールの上品なキラメキをプラスすると華やかな雰囲気もマッチしますよ。濃い色を使うと、顔から浮いたように感じやすいので注意が必要。　チーク：頬の高い位置に広く丸く入れましょう。アイメイクと同じく、肌になじむ自然な色味を選び立体感を出すように意識するがおすすめです。　リップ：唇の形を活かし、ナチュラルで上品に、シンプルに仕上げるのがおすすめです。派手なカラーは顔から浮きやすいため、肌になじみやすい自然な色をチョイス。</p>

                <% elsif @perfume.question == "112121" %>
                <h6>ソフトエレガント</h6>
                <p>ソフトで上品、優しい印象があり、実年齢と同じ、もしくはやや上に見られる方が多い傾向があります。大人っぽく知的で、落ち着いた雰囲気が魅力なタイプ。</p>
                <p>強く見えるメイクは苦手であまり似合いにくいので、顔立ちや顔の素材を生かしたメイクが似合います。上品な要素を入れて全体的にあくまで控えめな印象にとどめるのがおすすめです。顔立ちを活かし、自分に合ったメイクを取り入れて垢抜けフェイスを目指しましょう。</p>
                <p>【ソフトエレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型。顔のパーツは小さめから普通。実際の年齢と同じか、やや上に見られる（大人顔）こともあります。目が大きくないことを悩みに感じたり少し地味に見えてしまうのではないかと悩んでしまったりする方もいますが、人気の芸能人も多く、ソフトでやさしい・真面目なイメージで第一印象が良く和装も似合うなど魅力がたくさんのタイプです。</p>
                <p>【似合うメイク】眉毛：やや長めのアーチ眉かストレート眉がおすすめ。 ベースとなるソフトで親しみやすい印象を活かしましょう。　アイメイク：ナチュラルテイストが似合い、「上品」さがキーポイントになるタイプ。肌なじみのよいカラーを薄くのせ、目の形に沿って横幅を強調するのがおすすめ。ラメよりもパールの上品なキラメキをプラスすると華やかな雰囲気もマッチしますよ。濃い色を使うと、顔から浮いたように感じやすいので注意が必要。　チーク：頬の高い位置に広く丸く入れましょう。アイメイクと同じく、肌になじむ自然な色味を選び立体感を出すように意識するがおすすめです。　リップ：唇の形を活かし、ナチュラルで上品に、シンプルに仕上げるのがおすすめです。派手なカラーは顔から浮きやすいため、肌になじみやすい自然な色をチョイス。</p>


                <% elsif @perfume.question == "112211" %>
                <h6>ソフトエレガント</h6>
                <p>ソフトで上品、優しい印象があり、実年齢と同じ、もしくはやや上に見られる方が多い傾向があります。大人っぽく知的で、落ち着いた雰囲気が魅力なタイプ。</p>
                <p>強く見えるメイクは苦手であまり似合いにくいので、顔立ちや顔の素材を生かしたメイクが似合います。上品な要素を入れて全体的にあくまで控えめな印象にとどめるのがおすすめです。顔立ちを活かし、自分に合ったメイクを取り入れて垢抜けフェイスを目指しましょう。</p>
                <p>【ソフトエレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型。顔のパーツは小さめから普通。実際の年齢と同じか、やや上に見られる（大人顔）こともあります。目が大きくないことを悩みに感じたり少し地味に見えてしまうのではないかと悩んでしまったりする方もいますが、人気の芸能人も多く、ソフトでやさしい・真面目なイメージで第一印象が良く和装も似合うなど魅力がたくさんのタイプです。</p>
                <p>【似合うメイク】眉毛：やや長めのアーチ眉かストレート眉がおすすめ。 ベースとなるソフトで親しみやすい印象を活かしましょう。　アイメイク：ナチュラルテイストが似合い、「上品」さがキーポイントになるタイプ。肌なじみのよいカラーを薄くのせ、目の形に沿って横幅を強調するのがおすすめ。ラメよりもパールの上品なキラメキをプラスすると華やかな雰囲気もマッチしますよ。濃い色を使うと、顔から浮いたように感じやすいので注意が必要。　チーク：頬の高い位置に広く丸く入れましょう。アイメイクと同じく、肌になじむ自然な色味を選び立体感を出すように意識するがおすすめです。　リップ：唇の形を活かし、ナチュラルで上品に、シンプルに仕上げるのがおすすめです。派手なカラーは顔から浮きやすいため、肌になじみやすい自然な色をチョイス。</p>


                <% elsif @perfume.question == "122111" %>
                <h6>ソフトエレガント</h6>
                <p>ソフトで上品、優しい印象があり、実年齢と同じ、もしくはやや上に見られる方が多い傾向があります。大人っぽく知的で、落ち着いた雰囲気が魅力なタイプ。</p>
                <p>強く見えるメイクは苦手であまり似合いにくいので、顔立ちや顔の素材を生かしたメイクが似合います。上品な要素を入れて全体的にあくまで控えめな印象にとどめるのがおすすめです。顔立ちを活かし、自分に合ったメイクを取り入れて垢抜けフェイスを目指しましょう。</p>
                <p>【ソフトエレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型。顔のパーツは小さめから普通。実際の年齢と同じか、やや上に見られる（大人顔）こともあります。目が大きくないことを悩みに感じたり少し地味に見えてしまうのではないかと悩んでしまったりする方もいますが、人気の芸能人も多く、ソフトでやさしい・真面目なイメージで第一印象が良く和装も似合うなど魅力がたくさんのタイプです。</p>
                <p>【似合うメイク】眉毛：やや長めのアーチ眉かストレート眉がおすすめ。 ベースとなるソフトで親しみやすい印象を活かしましょう。　アイメイク：ナチュラルテイストが似合い、「上品」さがキーポイントになるタイプ。肌なじみのよいカラーを薄くのせ、目の形に沿って横幅を強調するのがおすすめ。ラメよりもパールの上品なキラメキをプラスすると華やかな雰囲気もマッチしますよ。濃い色を使うと、顔から浮いたように感じやすいので注意が必要。　チーク：頬の高い位置に広く丸く入れましょう。アイメイクと同じく、肌になじむ自然な色味を選び立体感を出すように意識するがおすすめです。　リップ：唇の形を活かし、ナチュラルで上品に、シンプルに仕上げるのがおすすめです。派手なカラーは顔から浮きやすいため、肌になじみやすい自然な色をチョイス。</p>


                <% elsif @perfume.question == "122112" %>
                <h6>ソフトエレガント</h6>
                <p>ソフトで上品、優しい印象があり、実年齢と同じ、もしくはやや上に見られる方が多い傾向があります。大人っぽく知的で、落ち着いた雰囲気が魅力なタイプ。</p>
                <p>強く見えるメイクは苦手であまり似合いにくいので、顔立ちや顔の素材を生かしたメイクが似合います。上品な要素を入れて全体的にあくまで控えめな印象にとどめるのがおすすめです。顔立ちを活かし、自分に合ったメイクを取り入れて垢抜けフェイスを目指しましょう。</p>
                <p>【ソフトエレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型。顔のパーツは小さめから普通。実際の年齢と同じか、やや上に見られる（大人顔）こともあります。目が大きくないことを悩みに感じたり少し地味に見えてしまうのではないかと悩んでしまったりする方もいますが、人気の芸能人も多く、ソフトでやさしい・真面目なイメージで第一印象が良く和装も似合うなど魅力がたくさんのタイプです。</p>
                <p>【似合うメイク】眉毛：やや長めのアーチ眉かストレート眉がおすすめ。 ベースとなるソフトで親しみやすい印象を活かしましょう。　アイメイク：ナチュラルテイストが似合い、「上品」さがキーポイントになるタイプ。肌なじみのよいカラーを薄くのせ、目の形に沿って横幅を強調するのがおすすめ。ラメよりもパールの上品なキラメキをプラスすると華やかな雰囲気もマッチしますよ。濃い色を使うと、顔から浮いたように感じやすいので注意が必要。　チーク：頬の高い位置に広く丸く入れましょう。アイメイクと同じく、肌になじむ自然な色味を選び立体感を出すように意識するがおすすめです。　リップ：唇の形を活かし、ナチュラルで上品に、シンプルに仕上げるのがおすすめです。派手なカラーは顔から浮きやすいため、肌になじみやすい自然な色をチョイス。</p>


                <% elsif @perfume.question == "122121" %>
                <h6>ソフトエレガント</h6>
                <p>ソフトで上品、優しい印象があり、実年齢と同じ、もしくはやや上に見られる方が多い傾向があります。大人っぽく知的で、落ち着いた雰囲気が魅力なタイプ。</p>
                <p>強く見えるメイクは苦手であまり似合いにくいので、顔立ちや顔の素材を生かしたメイクが似合います。上品な要素を入れて全体的にあくまで控えめな印象にとどめるのがおすすめです。顔立ちを活かし、自分に合ったメイクを取り入れて垢抜けフェイスを目指しましょう。</p>
                <p>【ソフトエレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型。顔のパーツは小さめから普通。実際の年齢と同じか、やや上に見られる（大人顔）こともあります。目が大きくないことを悩みに感じたり少し地味に見えてしまうのではないかと悩んでしまったりする方もいますが、人気の芸能人も多く、ソフトでやさしい・真面目なイメージで第一印象が良く和装も似合うなど魅力がたくさんのタイプです。</p>
                <p>【似合うメイク】眉毛：やや長めのアーチ眉かストレート眉がおすすめ。 ベースとなるソフトで親しみやすい印象を活かしましょう。　アイメイク：ナチュラルテイストが似合い、「上品」さがキーポイントになるタイプ。肌なじみのよいカラーを薄くのせ、目の形に沿って横幅を強調するのがおすすめ。ラメよりもパールの上品なキラメキをプラスすると華やかな雰囲気もマッチしますよ。濃い色を使うと、顔から浮いたように感じやすいので注意が必要。　チーク：頬の高い位置に広く丸く入れましょう。アイメイクと同じく、肌になじむ自然な色味を選び立体感を出すように意識するがおすすめです。　リップ：唇の形を活かし、ナチュラルで上品に、シンプルに仕上げるのがおすすめです。派手なカラーは顔から浮きやすいため、肌になじみやすい自然な色をチョイス。</p>


                <% elsif @perfume.question == "122211" %>
                <h6>ソフトエレガント</h6>
                <p>ソフトで上品、優しい印象があり、実年齢と同じ、もしくはやや上に見られる方が多い傾向があります。大人っぽく知的で、落ち着いた雰囲気が魅力なタイプ。</p>
                <p>強く見えるメイクは苦手であまり似合いにくいので、顔立ちや顔の素材を生かしたメイクが似合います。上品な要素を入れて全体的にあくまで控えめな印象にとどめるのがおすすめです。顔立ちを活かし、自分に合ったメイクを取り入れて垢抜けフェイスを目指しましょう。</p>
                <p>【ソフトエレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型。顔のパーツは小さめから普通。実際の年齢と同じか、やや上に見られる（大人顔）こともあります。目が大きくないことを悩みに感じたり少し地味に見えてしまうのではないかと悩んでしまったりする方もいますが、人気の芸能人も多く、ソフトでやさしい・真面目なイメージで第一印象が良く和装も似合うなど魅力がたくさんのタイプです。</p>
                <p>【似合うメイク】眉毛：やや長めのアーチ眉かストレート眉がおすすめ。 ベースとなるソフトで親しみやすい印象を活かしましょう。　アイメイク：ナチュラルテイストが似合い、「上品」さがキーポイントになるタイプ。肌なじみのよいカラーを薄くのせ、目の形に沿って横幅を強調するのがおすすめ。ラメよりもパールの上品なキラメキをプラスすると華やかな雰囲気もマッチしますよ。濃い色を使うと、顔から浮いたように感じやすいので注意が必要。　チーク：頬の高い位置に広く丸く入れましょう。アイメイクと同じく、肌になじむ自然な色味を選び立体感を出すように意識するがおすすめです。　リップ：唇の形を活かし、ナチュラルで上品に、シンプルに仕上げるのがおすすめです。派手なカラーは顔から浮きやすいため、肌になじみやすい自然な色をチョイス。</p>


                <% elsif @perfume.question == "212111" %>
                <h6>フェミニン</h6>
                <p>有名人に多いといわれ、顔のパーツが普通～大きく、女性らしい雰囲気を持つタイプ。顔立ちが上品な印象で実年齢と同じくらい、もしくはやや年上に見られやすい傾向があります。</p>
                <p>丸みがあるパーツを強調するのがおすすめですが、女性らしさが強く出るのが苦手と感じる場合には、少し目もとや眉に直線らしさを加えてバランスをとるのがよいでしょう。</p>
                <p>【フェミニンタイプの特徴】パーツや輪郭に骨感がなく、丸みがあるパーツが多く（曲線型）、顔のパーツは普通から大きめです。卵型から面長の輪郭で大人っぽく上品な印象なので実際の年齢と同じか、やや上に見られる（大人顔）ことが多く、女性らしい・華やか・美人な印象です。</p>
                <p>【似合うメイク】眉毛：やや長めで少し太さのあるアーチ眉がおすすめ。細いとやや抜けた印象を与えやすいです。　アイメイク：やや濃いめがおすすめですが、ナチュラルメイクでも華やかな目もとが際立ちます◎横幅を強調した、目尻に濃い色をのせる縦グラデーションや、少し長めにのアイラインが似合いそう。ラメやツヤが出せるアイシャドウを使うと、よりエレガントな印象をプラスできますよ。どこか子ども顔のような雰囲気も兼ね備えていて、丸みを強調するグラデーションメイクや、上下のまつ毛を長く見せる縦長を意識したメイクも取り入れやすいタイプです。服装に合わせて仕上がりを選ぶのも楽しそう♪　チーク：頬の高い位置に広く丸く入れましょう。パーソナルカラーにもよりますが、ピンク系のカラーを使うと雰囲気にマッチ。　リップ：ナチュラル～少し濃いめのカラーがおすすめ。丸みとボリュームがある唇を活かし、たっぷりとのせましょう。存在感を演出したい場合には、輪郭を縁取り少しオーバー気味につけるメイク方法もかわいいですよ。</p>

                <% elsif @perfume.question == "212112" %>
                <h6>フェミニン</h6>
                <p>有名人に多いといわれ、顔のパーツが普通～大きく、女性らしい雰囲気を持つタイプ。顔立ちが上品な印象で実年齢と同じくらい、もしくはやや年上に見られやすい傾向があります。</p>
                <p>丸みがあるパーツを強調するのがおすすめですが、女性らしさが強く出るのが苦手と感じる場合には、少し目もとや眉に直線らしさを加えてバランスをとるのがよいでしょう。</p>
                <p>【フェミニンタイプの特徴】パーツや輪郭に骨感がなく、丸みがあるパーツが多く（曲線型）、顔のパーツは普通から大きめです。卵型から面長の輪郭で大人っぽく上品な印象なので実際の年齢と同じか、やや上に見られる（大人顔）ことが多く、女性らしい・華やか・美人な印象です。</p>
                <p>【似合うメイク】眉毛：やや長めで少し太さのあるアーチ眉がおすすめ。細いとやや抜けた印象を与えやすいです。　アイメイク：やや濃いめがおすすめですが、ナチュラルメイクでも華やかな目もとが際立ちます◎横幅を強調した、目尻に濃い色をのせる縦グラデーションや、少し長めにのアイラインが似合いそう。ラメやツヤが出せるアイシャドウを使うと、よりエレガントな印象をプラスできますよ。どこか子ども顔のような雰囲気も兼ね備えていて、丸みを強調するグラデーションメイクや、上下のまつ毛を長く見せる縦長を意識したメイクも取り入れやすいタイプです。服装に合わせて仕上がりを選ぶのも楽しそう♪　チーク：頬の高い位置に広く丸く入れましょう。パーソナルカラーにもよりますが、ピンク系のカラーを使うと雰囲気にマッチ。　リップ：ナチュラル～少し濃いめのカラーがおすすめ。丸みとボリュームがある唇を活かし、たっぷりとのせましょう。存在感を演出したい場合には、輪郭を縁取り少しオーバー気味につけるメイク方法もかわいいですよ。</p>

                <% elsif @perfume.question == "212121" %>
                <h6>フェミニン</h6>
                <p>有名人に多いといわれ、顔のパーツが普通～大きく、女性らしい雰囲気を持つタイプ。顔立ちが上品な印象で実年齢と同じくらい、もしくはやや年上に見られやすい傾向があります。</p>
                <p>丸みがあるパーツを強調するのがおすすめですが、女性らしさが強く出るのが苦手と感じる場合には、少し目もとや眉に直線らしさを加えてバランスをとるのがよいでしょう。</p>
                <p>【フェミニンタイプの特徴】パーツや輪郭に骨感がなく、丸みがあるパーツが多く（曲線型）、顔のパーツは普通から大きめです。卵型から面長の輪郭で大人っぽく上品な印象なので実際の年齢と同じか、やや上に見られる（大人顔）ことが多く、女性らしい・華やか・美人な印象です。</p>
                <p>【似合うメイク】眉毛：やや長めで少し太さのあるアーチ眉がおすすめ。細いとやや抜けた印象を与えやすいです。　アイメイク：やや濃いめがおすすめですが、ナチュラルメイクでも華やかな目もとが際立ちます◎横幅を強調した、目尻に濃い色をのせる縦グラデーションや、少し長めにのアイラインが似合いそう。ラメやツヤが出せるアイシャドウを使うと、よりエレガントな印象をプラスできますよ。どこか子ども顔のような雰囲気も兼ね備えていて、丸みを強調するグラデーションメイクや、上下のまつ毛を長く見せる縦長を意識したメイクも取り入れやすいタイプです。服装に合わせて仕上がりを選ぶのも楽しそう♪　チーク：頬の高い位置に広く丸く入れましょう。パーソナルカラーにもよりますが、ピンク系のカラーを使うと雰囲気にマッチ。　リップ：ナチュラル～少し濃いめのカラーがおすすめ。丸みとボリュームがある唇を活かし、たっぷりとのせましょう。存在感を演出したい場合には、輪郭を縁取り少しオーバー気味につけるメイク方法もかわいいですよ。</p>

                <% elsif @perfume.question == "212211" %>
              <h6>フェミニン</h6>
                <p>有名人に多いといわれ、顔のパーツが普通～大きく、女性らしい雰囲気を持つタイプ。顔立ちが上品な印象で実年齢と同じくらい、もしくはやや年上に見られやすい傾向があります。</p>
                <p>丸みがあるパーツを強調するのがおすすめですが、女性らしさが強く出るのが苦手と感じる場合には、少し目もとや眉に直線らしさを加えてバランスをとるのがよいでしょう。</p>
                <p>【フェミニンタイプの特徴】パーツや輪郭に骨感がなく、丸みがあるパーツが多く（曲線型）、顔のパーツは普通から大きめです。卵型から面長の輪郭で大人っぽく上品な印象なので実際の年齢と同じか、やや上に見られる（大人顔）ことが多く、女性らしい・華やか・美人な印象です。</p>
                <p>【似合うメイク】眉毛：やや長めで少し太さのあるアーチ眉がおすすめ。細いとやや抜けた印象を与えやすいです。　アイメイク：やや濃いめがおすすめですが、ナチュラルメイクでも華やかな目もとが際立ちます◎横幅を強調した、目尻に濃い色をのせる縦グラデーションや、少し長めにのアイラインが似合いそう。ラメやツヤが出せるアイシャドウを使うと、よりエレガントな印象をプラスできますよ。どこか子ども顔のような雰囲気も兼ね備えていて、丸みを強調するグラデーションメイクや、上下のまつ毛を長く見せる縦長を意識したメイクも取り入れやすいタイプです。服装に合わせて仕上がりを選ぶのも楽しそう♪　チーク：頬の高い位置に広く丸く入れましょう。パーソナルカラーにもよりますが、ピンク系のカラーを使うと雰囲気にマッチ。　リップ：ナチュラル～少し濃いめのカラーがおすすめ。丸みとボリュームがある唇を活かし、たっぷりとのせましょう。存在感を演出したい場合には、輪郭を縁取り少しオーバー気味につけるメイク方法もかわいいですよ。</p>  
              
                <% elsif @perfume.question == "222111" %>
                <h6>フェミニン</h6>
                <p>有名人に多いといわれ、顔のパーツが普通～大きく、女性らしい雰囲気を持つタイプ。顔立ちが上品な印象で実年齢と同じくらい、もしくはやや年上に見られやすい傾向があります。</p>
                <p>丸みがあるパーツを強調するのがおすすめですが、女性らしさが強く出るのが苦手と感じる場合には、少し目もとや眉に直線らしさを加えてバランスをとるのがよいでしょう。</p>
                <p>【フェミニンタイプの特徴】パーツや輪郭に骨感がなく、丸みがあるパーツが多く（曲線型）、顔のパーツは普通から大きめです。卵型から面長の輪郭で大人っぽく上品な印象なので実際の年齢と同じか、やや上に見られる（大人顔）ことが多く、女性らしい・華やか・美人な印象です。</p>
                <p>【似合うメイク】眉毛：やや長めで少し太さのあるアーチ眉がおすすめ。細いとやや抜けた印象を与えやすいです。　アイメイク：やや濃いめがおすすめですが、ナチュラルメイクでも華やかな目もとが際立ちます◎横幅を強調した、目尻に濃い色をのせる縦グラデーションや、少し長めにのアイラインが似合いそう。ラメやツヤが出せるアイシャドウを使うと、よりエレガントな印象をプラスできますよ。どこか子ども顔のような雰囲気も兼ね備えていて、丸みを強調するグラデーションメイクや、上下のまつ毛を長く見せる縦長を意識したメイクも取り入れやすいタイプです。服装に合わせて仕上がりを選ぶのも楽しそう♪　チーク：頬の高い位置に広く丸く入れましょう。パーソナルカラーにもよりますが、ピンク系のカラーを使うと雰囲気にマッチ。　リップ：ナチュラル～少し濃いめのカラーがおすすめ。丸みとボリュームがある唇を活かし、たっぷりとのせましょう。存在感を演出したい場合には、輪郭を縁取り少しオーバー気味につけるメイク方法もかわいいですよ。</p>

                <% elsif @perfume.question == "222112" %>
               <h6>フェミニン</h6>
                <p>有名人に多いといわれ、顔のパーツが普通～大きく、女性らしい雰囲気を持つタイプ。顔立ちが上品な印象で実年齢と同じくらい、もしくはやや年上に見られやすい傾向があります。</p>
                <p>丸みがあるパーツを強調するのがおすすめですが、女性らしさが強く出るのが苦手と感じる場合には、少し目もとや眉に直線らしさを加えてバランスをとるのがよいでしょう。</p>
                <p>【フェミニンタイプの特徴】パーツや輪郭に骨感がなく、丸みがあるパーツが多く（曲線型）、顔のパーツは普通から大きめです。卵型から面長の輪郭で大人っぽく上品な印象なので実際の年齢と同じか、やや上に見られる（大人顔）ことが多く、女性らしい・華やか・美人な印象です。</p>
                <p>【似合うメイク】眉毛：やや長めで少し太さのあるアーチ眉がおすすめ。細いとやや抜けた印象を与えやすいです。　アイメイク：やや濃いめがおすすめですが、ナチュラルメイクでも華やかな目もとが際立ちます◎横幅を強調した、目尻に濃い色をのせる縦グラデーションや、少し長めにのアイラインが似合いそう。ラメやツヤが出せるアイシャドウを使うと、よりエレガントな印象をプラスできますよ。どこか子ども顔のような雰囲気も兼ね備えていて、丸みを強調するグラデーションメイクや、上下のまつ毛を長く見せる縦長を意識したメイクも取り入れやすいタイプです。服装に合わせて仕上がりを選ぶのも楽しそう♪　チーク：頬の高い位置に広く丸く入れましょう。パーソナルカラーにもよりますが、ピンク系のカラーを使うと雰囲気にマッチ。　リップ：ナチュラル～少し濃いめのカラーがおすすめ。丸みとボリュームがある唇を活かし、たっぷりとのせましょう。存在感を演出したい場合には、輪郭を縁取り少しオーバー気味につけるメイク方法もかわいいですよ。</p>
               
                <% elsif @perfume.question == "222121" %>
                <h6>フェミニン</h6>
                <p>有名人に多いといわれ、顔のパーツが普通～大きく、女性らしい雰囲気を持つタイプ。顔立ちが上品な印象で実年齢と同じくらい、もしくはやや年上に見られやすい傾向があります。</p>
                <p>丸みがあるパーツを強調するのがおすすめですが、女性らしさが強く出るのが苦手と感じる場合には、少し目もとや眉に直線らしさを加えてバランスをとるのがよいでしょう。</p>
                <p>【フェミニンタイプの特徴】パーツや輪郭に骨感がなく、丸みがあるパーツが多く（曲線型）、顔のパーツは普通から大きめです。卵型から面長の輪郭で大人っぽく上品な印象なので実際の年齢と同じか、やや上に見られる（大人顔）ことが多く、女性らしい・華やか・美人な印象です。</p>
                <p>【似合うメイク】眉毛：やや長めで少し太さのあるアーチ眉がおすすめ。細いとやや抜けた印象を与えやすいです。　アイメイク：やや濃いめがおすすめですが、ナチュラルメイクでも華やかな目もとが際立ちます◎横幅を強調した、目尻に濃い色をのせる縦グラデーションや、少し長めにのアイラインが似合いそう。ラメやツヤが出せるアイシャドウを使うと、よりエレガントな印象をプラスできますよ。どこか子ども顔のような雰囲気も兼ね備えていて、丸みを強調するグラデーションメイクや、上下のまつ毛を長く見せる縦長を意識したメイクも取り入れやすいタイプです。服装に合わせて仕上がりを選ぶのも楽しそう♪　チーク：頬の高い位置に広く丸く入れましょう。パーソナルカラーにもよりますが、ピンク系のカラーを使うと雰囲気にマッチ。　リップ：ナチュラル～少し濃いめのカラーがおすすめ。丸みとボリュームがある唇を活かし、たっぷりとのせましょう。存在感を演出したい場合には、輪郭を縁取り少しオーバー気味につけるメイク方法もかわいいですよ。</p>

                <% elsif @perfume.question == "222211" %>
                <h6>フェミニン</h6>
                <p>有名人に多いといわれ、顔のパーツが普通～大きく、女性らしい雰囲気を持つタイプ。顔立ちが上品な印象で実年齢と同じくらい、もしくはやや年上に見られやすい傾向があります。</p>
                <p>丸みがあるパーツを強調するのがおすすめですが、女性らしさが強く出るのが苦手と感じる場合には、少し目もとや眉に直線らしさを加えてバランスをとるのがよいでしょう。</p>
                <p>【フェミニンタイプの特徴】パーツや輪郭に骨感がなく、丸みがあるパーツが多く（曲線型）、顔のパーツは普通から大きめです。卵型から面長の輪郭で大人っぽく上品な印象なので実際の年齢と同じか、やや上に見られる（大人顔）ことが多く、女性らしい・華やか・美人な印象です。</p>
                <p>【似合うメイク】眉毛：やや長めで少し太さのあるアーチ眉がおすすめ。細いとやや抜けた印象を与えやすいです。　アイメイク：やや濃いめがおすすめですが、ナチュラルメイクでも華やかな目もとが際立ちます◎横幅を強調した、目尻に濃い色をのせる縦グラデーションや、少し長めにのアイラインが似合いそう。ラメやツヤが出せるアイシャドウを使うと、よりエレガントな印象をプラスできますよ。どこか子ども顔のような雰囲気も兼ね備えていて、丸みを強調するグラデーションメイクや、上下のまつ毛を長く見せる縦長を意識したメイクも取り入れやすいタイプです。服装に合わせて仕上がりを選ぶのも楽しそう♪　チーク：頬の高い位置に広く丸く入れましょう。パーソナルカラーにもよりますが、ピンク系のカラーを使うと雰囲気にマッチ。　リップ：ナチュラル～少し濃いめのカラーがおすすめ。丸みとボリュームがある唇を活かし、たっぷりとのせましょう。存在感を演出したい場合には、輪郭を縁取り少しオーバー気味につけるメイク方法もかわいいですよ。</p>

                 <% elsif @perfume.question == "112122" %>
                <h6>エレガント</h6>
                <p>上品な雰囲気で華やかな印象に見られる特徴があるタイプ。「フェミニンタイプ」同様に、女優さんなど芸能人に多いタイプで、しっかりしているように見られがちな傾向があります。</p>
                <p>メイクは顔のパーツが全体的に大きいため、その素材を活かせるような普通よりも少し濃い印象のメイクがおすすめ。しかし、少し派手すぎるように見られる悩みがあったり・キツく見られるのが苦手な場合には、色使いを工夫しましょう。</p>
                <p>【エレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型、顔のパーツは大きめです。実際の年齢よりやや上に見られる（大人顔）こともあり、エレガントで上品・落ち着いた印象です。</p>
                <p>【似合うメイク】眉毛：やや長さと太さのあるアーチ眉かストレート眉がおすすめ。他パーツが大きいので細め眉も似合いますが、キツイ印象に見えやすくなるので注意！　アイメイク：ツヤ・ラメ系アイテム、マスカラやつけまつ毛で、目元を盛った大人っぽい華やかなテイストのメイクが似合います◎特徴的なアーモンドアイの形にあわせて、縦グラデーションで横幅を強調するのがポイント。ナチュラルな印象にしたい時はカラーを控えつつも、手抜き感がでないようメイク感は残しましょう。　チーク：頬の高い位置に広くストレートに入れましょう。パーソナルカラーにあわせながら色を選び、発色のよいものがおすすめです。　リップ：口もととアイメイクの濃さに合わせると全体のバランスが整います。ぽってりと厚みがある場合には、高さを出せるグロスやツヤティントでぷっくりと。やや薄い人は柔らかさを出すならオーバーに。凛とした強さを出すならばそのまま薄くつけるのがよいでしょう。</p>

                 <% elsif @perfume.question == "112221" %>
                <h6>エレガント</h6>
                <p>上品な雰囲気で華やかな印象に見られる特徴があるタイプ。「フェミニンタイプ」同様に、女優さんなど芸能人に多いタイプで、しっかりしているように見られがちな傾向があります。</p>
                <p>メイクは顔のパーツが全体的に大きいため、その素材を活かせるような普通よりも少し濃い印象のメイクがおすすめ。しかし、少し派手すぎるように見られる悩みがあったり・キツく見られるのが苦手な場合には、色使いを工夫しましょう。</p>
                <p>【エレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型、顔のパーツは大きめです。実際の年齢よりやや上に見られる（大人顔）こともあり、エレガントで上品・落ち着いた印象です。</p>
                <p>【似合うメイク】眉毛：やや長さと太さのあるアーチ眉かストレート眉がおすすめ。他パーツが大きいので細め眉も似合いますが、キツイ印象に見えやすくなるので注意！　アイメイク：ツヤ・ラメ系アイテム、マスカラやつけまつ毛で、目元を盛った大人っぽい華やかなテイストのメイクが似合います◎特徴的なアーモンドアイの形にあわせて、縦グラデーションで横幅を強調するのがポイント。ナチュラルな印象にしたい時はカラーを控えつつも、手抜き感がでないようメイク感は残しましょう。　チーク：頬の高い位置に広くストレートに入れましょう。パーソナルカラーにあわせながら色を選び、発色のよいものがおすすめです。　リップ：口もととアイメイクの濃さに合わせると全体のバランスが整います。ぽってりと厚みがある場合には、高さを出せるグロスやツヤティントでぷっくりと。やや薄い人は柔らかさを出すならオーバーに。凛とした強さを出すならばそのまま薄くつけるのがよいでしょう。</p>
                 
                <% elsif @perfume.question == "112212" %>
                <h6>エレガント</h6>
                <p>上品な雰囲気で華やかな印象に見られる特徴があるタイプ。「フェミニンタイプ」同様に、女優さんなど芸能人に多いタイプで、しっかりしているように見られがちな傾向があります。</p>
                <p>メイクは顔のパーツが全体的に大きいため、その素材を活かせるような普通よりも少し濃い印象のメイクがおすすめ。しかし、少し派手すぎるように見られる悩みがあったり・キツく見られるのが苦手な場合には、色使いを工夫しましょう。</p>
                <p>【エレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型、顔のパーツは大きめです。実際の年齢よりやや上に見られる（大人顔）こともあり、エレガントで上品・落ち着いた印象です。</p>
                <p>【似合うメイク】眉毛：やや長さと太さのあるアーチ眉かストレート眉がおすすめ。他パーツが大きいので細め眉も似合いますが、キツイ印象に見えやすくなるので注意！　アイメイク：ツヤ・ラメ系アイテム、マスカラやつけまつ毛で、目元を盛った大人っぽい華やかなテイストのメイクが似合います◎特徴的なアーモンドアイの形にあわせて、縦グラデーションで横幅を強調するのがポイント。ナチュラルな印象にしたい時はカラーを控えつつも、手抜き感がでないようメイク感は残しましょう。　チーク：頬の高い位置に広くストレートに入れましょう。パーソナルカラーにあわせながら色を選び、発色のよいものがおすすめです。　リップ：口もととアイメイクの濃さに合わせると全体のバランスが整います。ぽってりと厚みがある場合には、高さを出せるグロスやツヤティントでぷっくりと。やや薄い人は柔らかさを出すならオーバーに。凛とした強さを出すならばそのまま薄くつけるのがよいでしょう。</p>

                 <% elsif @perfume.question == "112222" %>
                <h6>エレガント</h6>
                <p>上品な雰囲気で華やかな印象に見られる特徴があるタイプ。「フェミニンタイプ」同様に、女優さんなど芸能人に多いタイプで、しっかりしているように見られがちな傾向があります。</p>
                <p>メイクは顔のパーツが全体的に大きいため、その素材を活かせるような普通よりも少し濃い印象のメイクがおすすめ。しかし、少し派手すぎるように見られる悩みがあったり・キツく見られるのが苦手な場合には、色使いを工夫しましょう。</p>
                <p>【エレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型、顔のパーツは大きめです。実際の年齢よりやや上に見られる（大人顔）こともあり、エレガントで上品・落ち着いた印象です。</p>
                <p>【似合うメイク】眉毛：やや長さと太さのあるアーチ眉かストレート眉がおすすめ。他パーツが大きいので細め眉も似合いますが、キツイ印象に見えやすくなるので注意！　アイメイク：ツヤ・ラメ系アイテム、マスカラやつけまつ毛で、目元を盛った大人っぽい華やかなテイストのメイクが似合います◎特徴的なアーモンドアイの形にあわせて、縦グラデーションで横幅を強調するのがポイント。ナチュラルな印象にしたい時はカラーを控えつつも、手抜き感がでないようメイク感は残しましょう。　チーク：頬の高い位置に広くストレートに入れましょう。パーソナルカラーにあわせながら色を選び、発色のよいものがおすすめです。　リップ：口もととアイメイクの濃さに合わせると全体のバランスが整います。ぽってりと厚みがある場合には、高さを出せるグロスやツヤティントでぷっくりと。やや薄い人は柔らかさを出すならオーバーに。凛とした強さを出すならばそのまま薄くつけるのがよいでしょう。</p>

                 <% elsif @perfume.question == "122122" %>
                <h6>エレガント</h6>
                <p>上品な雰囲気で華やかな印象に見られる特徴があるタイプ。「フェミニンタイプ」同様に、女優さんなど芸能人に多いタイプで、しっかりしているように見られがちな傾向があります。</p>
                <p>メイクは顔のパーツが全体的に大きいため、その素材を活かせるような普通よりも少し濃い印象のメイクがおすすめ。しかし、少し派手すぎるように見られる悩みがあったり・キツく見られるのが苦手な場合には、色使いを工夫しましょう。</p>
                <p>【エレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型、顔のパーツは大きめです。実際の年齢よりやや上に見られる（大人顔）こともあり、エレガントで上品・落ち着いた印象です。</p>
                <p>【似合うメイク】眉毛：やや長さと太さのあるアーチ眉かストレート眉がおすすめ。他パーツが大きいので細め眉も似合いますが、キツイ印象に見えやすくなるので注意！　アイメイク：ツヤ・ラメ系アイテム、マスカラやつけまつ毛で、目元を盛った大人っぽい華やかなテイストのメイクが似合います◎特徴的なアーモンドアイの形にあわせて、縦グラデーションで横幅を強調するのがポイント。ナチュラルな印象にしたい時はカラーを控えつつも、手抜き感がでないようメイク感は残しましょう。　チーク：頬の高い位置に広くストレートに入れましょう。パーソナルカラーにあわせながら色を選び、発色のよいものがおすすめです。　リップ：口もととアイメイクの濃さに合わせると全体のバランスが整います。ぽってりと厚みがある場合には、高さを出せるグロスやツヤティントでぷっくりと。やや薄い人は柔らかさを出すならオーバーに。凛とした強さを出すならばそのまま薄くつけるのがよいでしょう。</p>
                 
                <% elsif @perfume.question == "122222" %>
                <h6>エレガント</h6>
                <p>上品な雰囲気で華やかな印象に見られる特徴があるタイプ。「フェミニンタイプ」同様に、女優さんなど芸能人に多いタイプで、しっかりしているように見られがちな傾向があります。</p>
                <p>メイクは顔のパーツが全体的に大きいため、その素材を活かせるような普通よりも少し濃い印象のメイクがおすすめ。しかし、少し派手すぎるように見られる悩みがあったり・キツく見られるのが苦手な場合には、色使いを工夫しましょう。</p>
                <p>【エレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型、顔のパーツは大きめです。実際の年齢よりやや上に見られる（大人顔）こともあり、エレガントで上品・落ち着いた印象です。</p>
                <p>【似合うメイク】眉毛：やや長さと太さのあるアーチ眉かストレート眉がおすすめ。他パーツが大きいので細め眉も似合いますが、キツイ印象に見えやすくなるので注意！　アイメイク：ツヤ・ラメ系アイテム、マスカラやつけまつ毛で、目元を盛った大人っぽい華やかなテイストのメイクが似合います◎特徴的なアーモンドアイの形にあわせて、縦グラデーションで横幅を強調するのがポイント。ナチュラルな印象にしたい時はカラーを控えつつも、手抜き感がでないようメイク感は残しましょう。　チーク：頬の高い位置に広くストレートに入れましょう。パーソナルカラーにあわせながら色を選び、発色のよいものがおすすめです。　リップ：口もととアイメイクの濃さに合わせると全体のバランスが整います。ぽってりと厚みがある場合には、高さを出せるグロスやツヤティントでぷっくりと。やや薄い人は柔らかさを出すならオーバーに。凛とした強さを出すならばそのまま薄くつけるのがよいでしょう。</p>

                 <% elsif @perfume.question == "122212" %>
                <h6>エレガント</h6>
                <p>上品な雰囲気で華やかな印象に見られる特徴があるタイプ。「フェミニンタイプ」同様に、女優さんなど芸能人に多いタイプで、しっかりしているように見られがちな傾向があります。</p>
                <p>メイクは顔のパーツが全体的に大きいため、その素材を活かせるような普通よりも少し濃い印象のメイクがおすすめ。しかし、少し派手すぎるように見られる悩みがあったり・キツく見られるのが苦手な場合には、色使いを工夫しましょう。</p>
                <p>【エレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型、顔のパーツは大きめです。実際の年齢よりやや上に見られる（大人顔）こともあり、エレガントで上品・落ち着いた印象です。</p>
                <p>【似合うメイク】眉毛：やや長さと太さのあるアーチ眉かストレート眉がおすすめ。他パーツが大きいので細め眉も似合いますが、キツイ印象に見えやすくなるので注意！　アイメイク：ツヤ・ラメ系アイテム、マスカラやつけまつ毛で、目元を盛った大人っぽい華やかなテイストのメイクが似合います◎特徴的なアーモンドアイの形にあわせて、縦グラデーションで横幅を強調するのがポイント。ナチュラルな印象にしたい時はカラーを控えつつも、手抜き感がでないようメイク感は残しましょう。　チーク：頬の高い位置に広くストレートに入れましょう。パーソナルカラーにあわせながら色を選び、発色のよいものがおすすめです。　リップ：口もととアイメイクの濃さに合わせると全体のバランスが整います。ぽってりと厚みがある場合には、高さを出せるグロスやツヤティントでぷっくりと。やや薄い人は柔らかさを出すならオーバーに。凛とした強さを出すならばそのまま薄くつけるのがよいでしょう。</p>
                 
                <% elsif @perfume.question == "122222" %>
                <h6>エレガント</h6>
                <p>上品な雰囲気で華やかな印象に見られる特徴があるタイプ。「フェミニンタイプ」同様に、女優さんなど芸能人に多いタイプで、しっかりしているように見られがちな傾向があります。</p>
                <p>メイクは顔のパーツが全体的に大きいため、その素材を活かせるような普通よりも少し濃い印象のメイクがおすすめ。しかし、少し派手すぎるように見られる悩みがあったり・キツく見られるのが苦手な場合には、色使いを工夫しましょう。</p>
                <p>【エレガントタイプの特徴】パーツや輪郭に直線・曲線の両方を持つタイプ（ミックス型）で、輪郭は卵型、面長、縦長のベース型、顔のパーツは大きめです。実際の年齢よりやや上に見られる（大人顔）こともあり、エレガントで上品・落ち着いた印象です。</p>
                <p>【似合うメイク】眉毛：やや長さと太さのあるアーチ眉かストレート眉がおすすめ。他パーツが大きいので細め眉も似合いますが、キツイ印象に見えやすくなるので注意！　アイメイク：ツヤ・ラメ系アイテム、マスカラやつけまつ毛で、目元を盛った大人っぽい華やかなテイストのメイクが似合います◎特徴的なアーモンドアイの形にあわせて、縦グラデーションで横幅を強調するのがポイント。ナチュラルな印象にしたい時はカラーを控えつつも、手抜き感がでないようメイク感は残しましょう。　チーク：頬の高い位置に広くストレートに入れましょう。パーソナルカラーにあわせながら色を選び、発色のよいものがおすすめです。　リップ：口もととアイメイクの濃さに合わせると全体のバランスが整います。ぽってりと厚みがある場合には、高さを出せるグロスやツヤティントでぷっくりと。やや薄い人は柔らかさを出すならオーバーに。凛とした強さを出すならばそのまま薄くつけるのがよいでしょう。</p>

                 <% elsif @perfume.question == "212122" %>
                <h6>クール</h6>
                <p>姉御肌で都会的な凛々しい雰囲気を持ちクールビューティと言われることも多いタイプ。顔のパーツにほとんど丸み・曲線がないため、大人っぽいすっきりとしたかっこいい印象を持たれやすい傾向があります。</p>
                <p>似合うメイクは、スッとした切れ長な目もとを活かす方法。直線的なパーツを強調し、おしゃれでスタイリッシュな印象に仕上げるのがよいでしょう。一方、キツく見える・怖く見られるのが苦手な人は、できる限り目もとの直線感をカバーし、輪郭や頬の骨感を和らげるメイクを意識するとよいです。</p>
                <p>【クールタイプの特徴】パーツや輪郭に丸みがなく、直線・骨感があるタイプ（直線型）で、顔のパーツは普通から大きめ。実際の年齢よりやや上に見られる(大人顔)こともあり、都会的で凛々しく、エレガントでかっこいい印象。</p>
                <p>【似合うメイク】眉毛：やや長めのストレート眉がおすすめ。眉に角度を付けるとカッコよく、目と並行をやわらかい印象を作れます。　アイメイク：直線的な切れ長な目の形状を活かし、縦幅より横幅を意識。できる限り横に長い印象に見せれるとベスト！アイラインをストレートに太く長く、マスカラは目尻長めを意識すると、より目もとの魅力を引き立ててくれますよ。カラーはパーソナルカラーにあわせながら、暗めのカラーをチョイスしましょう。ブラック・グレーなどシャープでスタイリッシュな色味が特にイメージとマッチします。　チーク：8タイプの中でも特に大人っぽく、チークレスが似合うタイプ。血色感が欲しいときは、頬骨に沿ってストレートに入れ立体的に見せると◎　リップ：彩度が高く、濃いめのカラーがおすすめ。唇が薄めの人が多いため、オーバーにせず形がキレイに見えるよう沿ってのせましょう。</p>

                 <% elsif @perfume.question == "212221" %>
                 <h6>クール</h6>
                <p>姉御肌で都会的な凛々しい雰囲気を持ちクールビューティと言われることも多いタイプ。顔のパーツにほとんど丸み・曲線がないため、大人っぽいすっきりとしたかっこいい印象を持たれやすい傾向があります。</p>
                <p>似合うメイクは、スッとした切れ長な目もとを活かす方法。直線的なパーツを強調し、おしゃれでスタイリッシュな印象に仕上げるのがよいでしょう。一方、キツく見える・怖く見られるのが苦手な人は、できる限り目もとの直線感をカバーし、輪郭や頬の骨感を和らげるメイクを意識するとよいです。</p>
                <p>【クールタイプの特徴】パーツや輪郭に丸みがなく、直線・骨感があるタイプ（直線型）で、顔のパーツは普通から大きめ。実際の年齢よりやや上に見られる(大人顔)こともあり、都会的で凛々しく、エレガントでかっこいい印象。</p>
                <p>【似合うメイク】眉毛：やや長めのストレート眉がおすすめ。眉に角度を付けるとカッコよく、目と並行をやわらかい印象を作れます。　アイメイク：直線的な切れ長な目の形状を活かし、縦幅より横幅を意識。できる限り横に長い印象に見せれるとベスト！アイラインをストレートに太く長く、マスカラは目尻長めを意識すると、より目もとの魅力を引き立ててくれますよ。カラーはパーソナルカラーにあわせながら、暗めのカラーをチョイスしましょう。ブラック・グレーなどシャープでスタイリッシュな色味が特にイメージとマッチします。　チーク：8タイプの中でも特に大人っぽく、チークレスが似合うタイプ。血色感が欲しいときは、頬骨に沿ってストレートに入れ立体的に見せると◎　リップ：彩度が高く、濃いめのカラーがおすすめ。唇が薄めの人が多いため、オーバーにせず形がキレイに見えるよう沿ってのせましょう。</p>

                

                 <% elsif @perfume.question == "212212" %>
                <h6>クール</h6>
                <p>姉御肌で都会的な凛々しい雰囲気を持ちクールビューティと言われることも多いタイプ。顔のパーツにほとんど丸み・曲線がないため、大人っぽいすっきりとしたかっこいい印象を持たれやすい傾向があります。</p>
                <p>似合うメイクは、スッとした切れ長な目もとを活かす方法。直線的なパーツを強調し、おしゃれでスタイリッシュな印象に仕上げるのがよいでしょう。一方、キツく見える・怖く見られるのが苦手な人は、できる限り目もとの直線感をカバーし、輪郭や頬の骨感を和らげるメイクを意識するとよいです。</p>
                <p>【クールタイプの特徴】パーツや輪郭に丸みがなく、直線・骨感があるタイプ（直線型）で、顔のパーツは普通から大きめ。実際の年齢よりやや上に見られる(大人顔)こともあり、都会的で凛々しく、エレガントでかっこいい印象。</p>
                <p>【似合うメイク】眉毛：やや長めのストレート眉がおすすめ。眉に角度を付けるとカッコよく、目と並行をやわらかい印象を作れます。　アイメイク：直線的な切れ長な目の形状を活かし、縦幅より横幅を意識。できる限り横に長い印象に見せれるとベスト！アイラインをストレートに太く長く、マスカラは目尻長めを意識すると、より目もとの魅力を引き立ててくれますよ。カラーはパーソナルカラーにあわせながら、暗めのカラーをチョイスしましょう。ブラック・グレーなどシャープでスタイリッシュな色味が特にイメージとマッチします。　チーク：8タイプの中でも特に大人っぽく、チークレスが似合うタイプ。血色感が欲しいときは、頬骨に沿ってストレートに入れ立体的に見せると◎　リップ：彩度が高く、濃いめのカラーがおすすめ。唇が薄めの人が多いため、オーバーにせず形がキレイに見えるよう沿ってのせましょう。</p>


                 <% elsif @perfume.question == "212222" %>
                <h6>クール</h6>
                <p>姉御肌で都会的な凛々しい雰囲気を持ちクールビューティと言われることも多いタイプ。顔のパーツにほとんど丸み・曲線がないため、大人っぽいすっきりとしたかっこいい印象を持たれやすい傾向があります。</p>
                <p>似合うメイクは、スッとした切れ長な目もとを活かす方法。直線的なパーツを強調し、おしゃれでスタイリッシュな印象に仕上げるのがよいでしょう。一方、キツく見える・怖く見られるのが苦手な人は、できる限り目もとの直線感をカバーし、輪郭や頬の骨感を和らげるメイクを意識するとよいです。</p>
                <p>【クールタイプの特徴】パーツや輪郭に丸みがなく、直線・骨感があるタイプ（直線型）で、顔のパーツは普通から大きめ。実際の年齢よりやや上に見られる(大人顔)こともあり、都会的で凛々しく、エレガントでかっこいい印象。</p>
                <p>【似合うメイク】眉毛：やや長めのストレート眉がおすすめ。眉に角度を付けるとカッコよく、目と並行をやわらかい印象を作れます。　アイメイク：直線的な切れ長な目の形状を活かし、縦幅より横幅を意識。できる限り横に長い印象に見せれるとベスト！アイラインをストレートに太く長く、マスカラは目尻長めを意識すると、より目もとの魅力を引き立ててくれますよ。カラーはパーソナルカラーにあわせながら、暗めのカラーをチョイスしましょう。ブラック・グレーなどシャープでスタイリッシュな色味が特にイメージとマッチします。　チーク：8タイプの中でも特に大人っぽく、チークレスが似合うタイプ。血色感が欲しいときは、頬骨に沿ってストレートに入れ立体的に見せると◎　リップ：彩度が高く、濃いめのカラーがおすすめ。唇が薄めの人が多いため、オーバーにせず形がキレイに見えるよう沿ってのせましょう。</p>

                 <% elsif @perfume.question == "222122" %>
               <h6>クール</h6>
                <p>姉御肌で都会的な凛々しい雰囲気を持ちクールビューティと言われることも多いタイプ。顔のパーツにほとんど丸み・曲線がないため、大人っぽいすっきりとしたかっこいい印象を持たれやすい傾向があります。</p>
                <p>似合うメイクは、スッとした切れ長な目もとを活かす方法。直線的なパーツを強調し、おしゃれでスタイリッシュな印象に仕上げるのがよいでしょう。一方、キツく見える・怖く見られるのが苦手な人は、できる限り目もとの直線感をカバーし、輪郭や頬の骨感を和らげるメイクを意識するとよいです。</p>
                <p>【クールタイプの特徴】パーツや輪郭に丸みがなく、直線・骨感があるタイプ（直線型）で、顔のパーツは普通から大きめ。実際の年齢よりやや上に見られる(大人顔)こともあり、都会的で凛々しく、エレガントでかっこいい印象。</p>
                <p>【似合うメイク】眉毛：やや長めのストレート眉がおすすめ。眉に角度を付けるとカッコよく、目と並行をやわらかい印象を作れます。　アイメイク：直線的な切れ長な目の形状を活かし、縦幅より横幅を意識。できる限り横に長い印象に見せれるとベスト！アイラインをストレートに太く長く、マスカラは目尻長めを意識すると、より目もとの魅力を引き立ててくれますよ。カラーはパーソナルカラーにあわせながら、暗めのカラーをチョイスしましょう。ブラック・グレーなどシャープでスタイリッシュな色味が特にイメージとマッチします。　チーク：8タイプの中でも特に大人っぽく、チークレスが似合うタイプ。血色感が欲しいときは、頬骨に沿ってストレートに入れ立体的に見せると◎　リップ：彩度が高く、濃いめのカラーがおすすめ。唇が薄めの人が多いため、オーバーにせず形がキレイに見えるよう沿ってのせましょう。</p>


                 <% elsif @perfume.question == "222221" %>
                 <h6>クール</h6>
                <p>姉御肌で都会的な凛々しい雰囲気を持ちクールビューティと言われることも多いタイプ。顔のパーツにほとんど丸み・曲線がないため、大人っぽいすっきりとしたかっこいい印象を持たれやすい傾向があります。</p>
                <p>似合うメイクは、スッとした切れ長な目もとを活かす方法。直線的なパーツを強調し、おしゃれでスタイリッシュな印象に仕上げるのがよいでしょう。一方、キツく見える・怖く見られるのが苦手な人は、できる限り目もとの直線感をカバーし、輪郭や頬の骨感を和らげるメイクを意識するとよいです。</p>
                <p>【クールタイプの特徴】パーツや輪郭に丸みがなく、直線・骨感があるタイプ（直線型）で、顔のパーツは普通から大きめ。実際の年齢よりやや上に見られる(大人顔)こともあり、都会的で凛々しく、エレガントでかっこいい印象。</p>
                <p>【似合うメイク】眉毛：やや長めのストレート眉がおすすめ。眉に角度を付けるとカッコよく、目と並行をやわらかい印象を作れます。　アイメイク：直線的な切れ長な目の形状を活かし、縦幅より横幅を意識。できる限り横に長い印象に見せれるとベスト！アイラインをストレートに太く長く、マスカラは目尻長めを意識すると、より目もとの魅力を引き立ててくれますよ。カラーはパーソナルカラーにあわせながら、暗めのカラーをチョイスしましょう。ブラック・グレーなどシャープでスタイリッシュな色味が特にイメージとマッチします。　チーク：8タイプの中でも特に大人っぽく、チークレスが似合うタイプ。血色感が欲しいときは、頬骨に沿ってストレートに入れ立体的に見せると◎　リップ：彩度が高く、濃いめのカラーがおすすめ。唇が薄めの人が多いため、オーバーにせず形がキレイに見えるよう沿ってのせましょう。</p>


               
               

                 <% elsif @perfume.question == "222212" %>
                <h6>クール</h6>
                <p>姉御肌で都会的な凛々しい雰囲気を持ちクールビューティと言われることも多いタイプ。顔のパーツにほとんど丸み・曲線がないため、大人っぽいすっきりとしたかっこいい印象を持たれやすい傾向があります。</p>
                <p>似合うメイクは、スッとした切れ長な目もとを活かす方法。直線的なパーツを強調し、おしゃれでスタイリッシュな印象に仕上げるのがよいでしょう。一方、キツく見える・怖く見られるのが苦手な人は、できる限り目もとの直線感をカバーし、輪郭や頬の骨感を和らげるメイクを意識するとよいです。</p>
                <p>【クールタイプの特徴】パーツや輪郭に丸みがなく、直線・骨感があるタイプ（直線型）で、顔のパーツは普通から大きめ。実際の年齢よりやや上に見られる(大人顔)こともあり、都会的で凛々しく、エレガントでかっこいい印象。</p>
                <p>【似合うメイク】眉毛：やや長めのストレート眉がおすすめ。眉に角度を付けるとカッコよく、目と並行をやわらかい印象を作れます。　アイメイク：直線的な切れ長な目の形状を活かし、縦幅より横幅を意識。できる限り横に長い印象に見せれるとベスト！アイラインをストレートに太く長く、マスカラは目尻長めを意識すると、より目もとの魅力を引き立ててくれますよ。カラーはパーソナルカラーにあわせながら、暗めのカラーをチョイスしましょう。ブラック・グレーなどシャープでスタイリッシュな色味が特にイメージとマッチします。　チーク：8タイプの中でも特に大人っぽく、チークレスが似合うタイプ。血色感が欲しいときは、頬骨に沿ってストレートに入れ立体的に見せると◎　リップ：彩度が高く、濃いめのカラーがおすすめ。唇が薄めの人が多いため、オーバーにせず形がキレイに見えるよう沿ってのせましょう。</p>



                 <% elsif @perfume.question == "222222" %>
               <h6>クール</h6>
                <p>姉御肌で都会的な凛々しい雰囲気を持ちクールビューティと言われることも多いタイプ。顔のパーツにほとんど丸み・曲線がないため、大人っぽいすっきりとしたかっこいい印象を持たれやすい傾向があります。</p>
                <p>似合うメイクは、スッとした切れ長な目もとを活かす方法。直線的なパーツを強調し、おしゃれでスタイリッシュな印象に仕上げるのがよいでしょう。一方、キツく見える・怖く見られるのが苦手な人は、できる限り目もとの直線感をカバーし、輪郭や頬の骨感を和らげるメイクを意識するとよいです。</p>
                <p>【クールタイプの特徴】パーツや輪郭に丸みがなく、直線・骨感があるタイプ（直線型）で、顔のパーツは普通から大きめ。実際の年齢よりやや上に見られる(大人顔)こともあり、都会的で凛々しく、エレガントでかっこいい印象。</p>
                <p>【似合うメイク】眉毛：やや長めのストレート眉がおすすめ。眉に角度を付けるとカッコよく、目と並行をやわらかい印象を作れます。　アイメイク：直線的な切れ長な目の形状を活かし、縦幅より横幅を意識。できる限り横に長い印象に見せれるとベスト！アイラインをストレートに太く長く、マスカラは目尻長めを意識すると、より目もとの魅力を引き立ててくれますよ。カラーはパーソナルカラーにあわせながら、暗めのカラーをチョイスしましょう。ブラック・グレーなどシャープでスタイリッシュな色味が特にイメージとマッチします。　チーク：8タイプの中でも特に大人っぽく、チークレスが似合うタイプ。血色感が欲しいときは、頬骨に沿ってストレートに入れ立体的に見せると◎　リップ：彩度が高く、濃いめのカラーがおすすめ。唇が薄めの人が多いため、オーバーにせず形がキレイに見えるよう沿ってのせましょう。</p>















                <% end %>

        </div>

         <%= link_to "マイページへ", user_path(current_user.id) %>
 